﻿<h2>Конфигуратор продукта</h2>
<br />
<a href="#" class="btn btn-primary" onclick="javascript:history.go(-1);">Вернуться к заказу</a>
<hr />

<div class="row">
    <div class="col-md-5">
        <form name="formAdd" novalidate ng-submit="add()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="ProductCategoryId">Категория продукта</label>
                <select name="ProductCategoryId" class="form-control" ng-model="product.ProductCategoryId" ng-required="true">
                    <option value="1">Окна</option>
                    <option value="2">Двери</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Code">Код</label>
                <input name="Code"
                       type="text"
                       class="form-control"
                       placeholder="Укажите код продукта"
                       ng-model="product.Code"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label for="Name">Название</label>
                <input name="Name"
                       type="text"
                       class="form-control"
                       placeholder="Укажите название продукта"
                       ng-model="product.Name"
                       ng-required="true"
                       ng-minlength="3" />
            </div>
            <div class="form-group">
                <label for="Quantity">Количество</label>
                <input name="Quantity"
                       type="number"
                       class="form-control"
                       ng-model="product.Quantity"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label for="SpecificationLink">Спецификация</label>
                <input name="SpecificationLink"
                       type="text"
                       class="form-control"
                       ng-model="product.SpecificationLink"/>
            </div>
            <div class="form-group">
                <label for="ViewOrder">Порядок</label>
                <input name="ViewOrder"
                       type="number"
                       class="form-control"
                       ng-model="product.ViewOrder"
                       ng-required="true" />
            </div>
            <button type="submit" ng-disabled="formAdd.$invalid" class="btn btn-primary">Сохранить продукт</button>
        </form>

    </div>
</div>