﻿<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <br />
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить продукт <strong> ({{product.Code}}) - {{product.Name}} ? </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="remove()">Удалить</button>
                <a href="#" class="btn btn-primary" onclick="javascript:history.go(-1);">Отмена</a>
            </div>
        </div>
    </div>
</div>