﻿<h2>Продукт: {{product.Code}} - {{product.Name}}</h2>
<hr />

<div><a href="#" class="btn btn-primary" onclick="javascript:history.go(-1);">Вернуться к заказу</a></div>

<br />

<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-striped">
            <tr ng-switch on="product.ProductCategoryId">
                <td>
                    <strong>Код</strong>
                </td>
                <td>{{product.Code}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Название</strong>
                </td>
                <td>{{product.Name}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Количество</strong>
                </td>
                <td>{{product.Quantity}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Спецификация</strong>
                </td>
                <td><a href="{{product.SpecificationLink}}" target="_blank">{{product.SpecificationLink}}</a></td>
            </tr>
            <tr>
                <td>
                    <strong>Порядок</strong>
                </td>
                <td>{{product.ViewOrder}}</td>
            </tr>
        </table>
    </div>
</div>

<br />
<h2>Конфигурация продукта</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr ng-switch on="product.ProductCategoryId">
            <th>Высота</th>
            <th>Ширина</th>
            <th ng-switch-when="2">Глазок</th>
            <ht></ht>
        </tr>
    </thead>
    <tbody ng-switch on="product.ProductCategoryId">
        <tr ng-repeat="productWindow in productWindows" ng-switch-when="1">
            <td ng-if="productWindow.ProductId==product.Id">{{productWindow.Height}}</td>
            <td ng-if="productWindow.ProductId==product.Id">{{productWindow.Width}}</td>
        </tr>
        <tr ng-repeat="productDoor in productDoors" ng-switch-when="2">
            <td ng-if="productDoor.ProductId==product.Id">{{productDoor.Height}}</td>
            <td ng-if="productDoor.ProductId==product.Id">{{productDoor.Width}}</td>
            <td ng-if="productDoor.ProductId==product.Id"><span ng-if="productDoor.Peephole==1">Есть</span><span ng-if="productDoor.Peephole==0">Отсутствует</span></td>
        </tr>
    </tbody>
</table>