﻿<h2>Продукт: {{product.Code}} - {{product.Name}}</h2>
<hr />

<div><a href="#" class="btn btn-primary" onclick="javascript:history.go(-1);">Вернуться к заказу</a></div>

<br />

<div class="row">
    <div class="col-md-5">
        <form name="formEdit" novalidate ng-submit="edit()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <strong>Код</strong>
                    </td>
                    <td>
                        <input name="Code" type="text" class="form-control" placeholder="Укажите код продукта" ng-model="product.Code" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Название</strong>
                    </td>
                    <td>
                        <input name="Name" type="text" class="form-control" placeholder="Укажите название продукта" ng-model="product.Name" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Количество</strong>
                    </td>
                    <td>
                        <input name="Quantity" type="number" class="form-control" ng-model="product.Quantity" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Спецификация</strong>
                    </td>
                    <td>
                        <input name="SpecificationLink" type="text" class="form-control" placeholder="Укажите спецификацию продукта" ng-model="product.SpecificationLink" ng-minlength="3" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Порядок</strong>
                    </td>
                    <td>
                        <input name="ViewOrder" type="number" class="form-control" ng-model="product.ViewOrder" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<br />

<h2>Конфигурация продукта</h2>
<p ng-switch on="product.ProductCategoryId">
    <a href="/products/windows/add/{{product.Id}}" class="btn btn-primary" ng-switch-when="1">Добавить конфигурацию</a>
    <a href="/products/doors/add/{{product.Id}}" class="btn btn-primary" ng-switch-when="2">Добавить конфигурацию</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr ng-switch on="product.ProductCategoryId">
            <th>Высота</th>
            <th>Ширина</th>
            <th ng-switch-when="2">Глазок</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-switch on="product.ProductCategoryId">
        <tr ng-repeat="productWindow in productWindows" ng-switch-when="1">
            <td ng-if="productWindow.ProductId==product.Id">{{productWindow.Height}}</td>
            <td ng-if="productWindow.ProductId==product.Id">{{productWindow.Width}}</td>
            <td ng-if="productWindow.ProductId==product.Id">
                <a href="/products/windows/edit/{{productWindow.Id}}" class="btn btn-primary btn-xs">Изменить</a>
            </td>
        </tr>
        <tr ng-repeat="productDoor in productDoors" ng-switch-when="2">
            <td ng-if="productDoor.ProductId==product.Id">{{productDoor.Height}}</td>
            <td ng-if="productDoor.ProductId==product.Id">{{productDoor.Width}}</td>
            <td ng-if="productDoor.ProductId==product.Id"><span ng-if="productDoor.Peephole==1">Есть</span><span ng-if="productDoor.Peephole==0">Отсутствует</span></td>
            <td ng-if="productDoor.ProductId==product.Id">
                <a href="/products/doors/edit/{{productDoor.Id}}" class="btn btn-primary btn-xs">Изменить</a>
            </td>
        </tr>
    </tbody>
</table>