﻿<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Код</th>
            <th>Категория</th>
            <th>Количество</th>
            <th>Продукт</th>
            <th>Спецификация</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products" ng-switch on="product.ProductCategoryId">
            <td ng-if="product.OrderId==order.Id">{{product.Code}}</td>
            <td ng-if="product.OrderId==order.Id" ng-switch-when="1">Окна</td>
            <td ng-if="product.OrderId==order.Id" ng-switch-when="2">Двери</td>
            <td ng-if="product.OrderId==order.Id">{{product.Quantity}}</td>
            <td ng-if="product.OrderId==order.Id">{{product.Name}}</td>
            <td ng-if="product.OrderId==order.Id"><a href="{{product.SpecificationLink}}" target="_blank">{{product.SpecificationLink}}</a></td>
            <td ng-if="product.OrderId==order.Id">
                <a href="/products/details/{{product.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                <a href="/products/edit/{{product.Id}}" class="btn btn-info btn-xs">Изменить</a>
                <a href="/products/delete/{{product.Id}}" class="btn btn-danger btn-xs">Удалить</a>
            </td>
        </tr>
    </tbody>
</table>