<div  ng-if="record.ProductCategoryId"  class="row"  ng-controller="DataRecordController" ng-init="init('ProductCategories',$parent.record.ProductCategoryId);id=$parent.record.ProductCategoryId">
    <div class="col-xs-4">
        <a ng-if="record.Image" href="{{record.Image}}" target="_blank" class="thumbnail" style3="max-width: 100px">
            <img ng-src="{{record.Image}}" alt="">
        </a>
    </div>
    <div class="col-xs-8">
        <div ng-bind-html="record.Description | html"></div>
    </div>
</div>

<div class="col-md-12" ng-if="record.ObjectId" ng-controller="DataRecordController" ng-init="init('ProductWindows',$parent.record.ObjectId)">

    <table class="table table-dd">
        <tr>
            <td>{{LANG.WINDOW.CHARACTERISTICS}}</td>
            <td class="">
                <a ng-if="params.objectmode=='objectedit'" href="orders/{{params.OrderId}}/details/{{params.ProductId}}/view" class="text-info"><span class="fa fa-backward"></span> {{LANG.BTN.CANCEL}}</a>
                <a ng-if="params.objectmode!='objectedit' && access_role('ORDER_EDIT',$parent.$parent.$parent.$parent.$parent.record)" href="orders/{{params.OrderId}}/details/{{params.ProductId}}/view/objectedit" class="pull-right text-primary"><span class="fa fa-edit"></span> {{LANG.BTN.CHANGE_DETAILS}}</a>
                <a ng-if="params.objectmode=='objectedit'" ng-click="saveProductDetail(this)" href="#" class="text-success pull-right"><span class="fa fa-check"></span> {{LANG.BTN.SAVE_CHANGES}}</a>
            </td>
        </tr>
        <tr ng-repeat="field in fields | nofields : 'Id,ProductId'">
            <th ng-bind="field.Title"></th>
            <td ng-if="params.objectmode!='objectedit'"><ng-include src="getEditTemplate('view',field)"></ng-include></td>
            <td ng-if="params.objectmode=='objectedit'"><ng-include src="getEditTemplate('edit',field)"></ng-include></td>
        </tr>
    </table>
</div>
        
