﻿<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">

    <head>
        <script type="text/javascript">
            document.write("<base href='http://" + document.location.host + "/' />");
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title ng-bind="LANG.WINDOW_TITLE"></title>
    <link rel="shortcut icon" href="/img/Favicon.png"/>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/font-awesome.css" />

    <link rel="stylesheet" href="vendor/angular/ui/select.css" />

    <link href="vendor/sb2/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <link href="vendor/sb2/css/timeline.css" rel="stylesheet">
    <link href="vendor/sb2/css/sb-admin-2.css" rel="stylesheet">



    <link rel="stylesheet" href="css/main.css" />

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/jquery-signalr/jquery.signalR-2.0.0.js"></script>

    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>

    <script src="vendor/html2canvas/html2canvas.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-locale_ru.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-resource.js"></script>
    <script src="vendor/angular/angular-cookies.js"></script>
    <script src="vendor/angular/angular-signalr-hub.js"></script>
    <script src="vendor/angular/ui/mask.js"></script>
    <script src="vendor/angular/ui/select.js"></script>
    <script src="vendor/angular/angular-sanitize.js"></script>

    <script src="vendor/ui-bootstrap/ui-bootstrap-tpls-1.1.0.min.js"></script>


    <script src="js/func.js"></script>

    <script src="app/settings.js"></script>

    <script src="app/controllers/MainController.js"></script>
    <script src="app/controllers/DataRootController.js"></script>
    <script src="app/controllers/DataListController.js"></script>
    <script src="app/controllers/DataRecordController.js"></script>
    <script src="app/controllers/RouteController.js"></script>

    <script src="app/controllers/UserController.js"></script>
    <script src="app/services/TableService.js"></script>

    <script src="app/services/ActionService.js"></script>

    <script src="app/controllers/MircoServiceController.js"></script>
    <script src="app/controllers/client/CallBackController.js"></script>
    <script src="app/controllers/client/ConsultantVisitController.js"></script>
    <script src="app/controllers/client/ClientOrderController.js"></script>
    <script src="app/controllers/client/SupplierController.js"></script>

    <script src="app/controllers/consultant/ClientsController.js"></script>
    <script src="app/controllers/consultant/OrdersController.js"></script>
    <script src="app/controllers/consultant/VisitsController.js"></script>
    <script src="app/controllers/consultant/CallBacksController.js"></script>
    <script src="app/controllers/consultant/ClientTendersController.js"></script>

    <script src="app/controllers/estimator/ShippersController.js"></script>
    <script src="app/controllers/estimator/TendersController.js"></script>

    <script src="app/controllers/manager/ClientConsultantVisitController.js"></script>
    <script src="app/controllers/MessagesController.js"></script>

    <link rel="stylesheet" href="css/windows.css">
    <script src="demo/window-master-data.js"></script>
    <script src="app/controllers/specific/product-windows-master.js"></script>

    <script src="app/config.router.js"></script>
    <script src="app/config.resource.js"></script>

    <script src="app/app.js"></script>


    <script src="vendor/angular/angular-mocks.js"></script>
    <script src="demo/include.js"></script>

</head>
<body ng-if="isLoaded" id="screencanvas">

<div id="wrapper" ng-if="isLoaded">

    <ng-include src="'views/menu/common/index.html'"></ng-include>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <ng-view></ng-view>
        </div>
    </div>

</div>
<!--<div class="modal fade" id="loadingSpinner"><i class="fa fa-circle-o-notch fa-spin fa-5x" style="position: absolute; top: 45%; left: 45%"></i></div>-->
    <div id="loadingIndicator" class="hidden">
        <i class="fa fa-spinner fa-pulse fa-2x"></i>
        <div class="blocker"></div>
    </div>

<footer>
    <p>&copy; {{LANG.COPYRIGHT}}</p>
</footer>
</div>



<!--<script src="vendor/sb2/metisMenu/dist/metisMenu.js"></script>-->
<!--<script src="vendor/sb2/js/sb-admin-2.js"></script>-->


</body>
</html>
