<nav class="navbar navbar-inverse navbar-static-top" role="navigation" styl2e="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{LANG.HEADER.SHOW_MENU}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="img/logo.png" title="{{LANG.HEADER.TITLE}}"></a>
        <span class="logo-text">Легко купить окно</span>
    </div>

    <ul class="nav navbar-nav navbar-top-links navbar-right">

        <li ng-if="!isLogged()"><a href="./form/registration">{{LANG.HEADER.REGISTRATION}}</a></li>
        <li ng-if="!isLogged()"><a href="./form/authorization">{{LANG.HEADER.AUTHORIZATION}}</a></li>



        <li ng-if="isLogged()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{getUser().Name}}&nbsp;
                <span class="fa fa-{{role_picto[currentRole]}} fa-fw"></span>&nbsp;
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="role in getRoles()" ng-class="{'active':role==currentRole}"><a href="#" ng-click="setRole(role)"><span class="fa fa-{{role_picto[role]}}"></span> {{LANG.ROLE_NAMES[role]}}</a></li>
                <li class="divider" ng-if="userID"></li>
                <li ng-if="userID"><a href="form/authorization" ng-click="logOut()"><span class="fa fa-sign-out fa-fw"></span> {{LANG.HEADER.EXIT}}</a> </li>

            </ul>
        </li>


        <li class="dropdown"  ng-controller="MessagesController" ng-if="userID" ng-init="init('last')" ng-include="'views/roles/all/messages.last.html'"></li>


        <li ng-if="currentRole=='admin'"><a href="#" ng-click="demoSave()" title="Сохранить данные"><span class="fa fa-floppy-o"></span></a></li>
    </ul>









    <div class="navbar-default  sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav">
                <li ng-if="currentRole=='admin'">
                    <a  href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#sub-tables"><i class="fa fa-table fa-fw"></i> Таблицы <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" id="sub-tables" ng-controller="DataListController"  ng-init="init('Tables')">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Поиск..." ng-model="search_table">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="search_table='*'" title="Нажмите, чтобы показать все"><i class="fa fa-filter"></i></button>
                            </span>

                            </div>
                        </li>

                        <li  ng-repeat="record in records | record_select: search_table " ng-class="{'active': record.Name==hrefRoute.tableId}"><a ng-href="./table/{{record.Name}}">{{record.Titles}}</a></li>
                    </ul>
                </li>

                <li ng-if="currentRole=='admin'"><a href="product/windows"> <span class="fa fa-windows"></span> Окна</a></li>
                <li ng-if="currentRole=='admin'"><a href="orders"> <span class="glyphicon glyphicon-signal"></span> {{LANG.HEADER.ORDERS}}</a></li>
                <li ng-if="currentRole=='admin'"><a href="tenders"> <span class="fa fa-calendar"></span> {{LANG.HEADER.TENDERS}}</a></li>

                <li ng-if="currentRole=='client' || currentRole=='guest'"><a href="client/callback"><span class="fa fa-phone"></span> Заказать звонок консультанта</a></li>
                <li ng-if="currentRole=='client'"><a href="client/consultant_visit"><span class="fa fa-black-tie"></span> Заказать визит консультанта</a></li>
                <li ng-if="currentRole=='client'"><a href="client/orders"><span class="fa fa-shopping-bag"></span> Заказы</a></li>
                <li ng-if="currentRole=='client'"><a href="client/suppliers"><span class="fa fa-building"></span> Поставщики</a></li>

                <li ng-if="currentRole=='consultant'  || currentRole=='manager'"><a href="consultant/clients"><span class="fa fa-user"></span> Клиенты</a></li>
                <li ng-if="currentRole=='consultant'  || currentRole=='manager'"><a href="consultant/orders"><span class="fa fa-shopping-bag"></span> Заказы</a></li>
                <li ng-if="currentRole=='consultant'  || currentRole=='manager'"><a href="consultant/tenders"><span class="fa fa-briefcase"></span> Тендеры</a></li>
                <li ng-if="currentRole=='consultant'  || currentRole=='manager'"><a href="consultant/callbacks"><span class="fa fa-phone"></span> Обратные звонки</a></li>
                <li ng-if="currentRole=='consultant'  || currentRole=='manager'"><a href="consultant/visits"><span class="fa fa-black-tie"></span> Заказ консультанта</a></li>

                <li ng-if="currentRole=='estimator'"><a href="estimator/shippers"><span class="fa fa-industry"></span> Поставщики</a></li>
                <li ng-if="currentRole=='estimator'"><a href="estimator/tenders"><span class="fa fa-briefcase"></span> Тендеры</a></li>

                <li ng-if="currentRole=='manager'"><a href="manager/consultant_visit"><span class="fa fa-black-tie"></span> Консультант для клиента</a></li>


            </ul>
        </div>


    </div>




</nav>
