﻿<h2>Предложения по аукциону</h2>
<hr >

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Поставщик</th>
            <th>Цена, руб.</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="offer in offers">
            <td>2015-04-25</td>
            <td>{{offer.IdCompany}}</td>
            <td>{{offer.Price}}</td>

            <td>
                <a href="#" class="btn btn-primary btn-xs">Заключить сделку</a>
            </td>
        </tr>
        <a href="/orders/list" class="btn btn-primary">Заказы</a>
        <a href="#" class="btn btn-danger">Отменить аукцион</a>
    </tbody>
</table>