<div class="row" ng-controller="DataRecordController" ng-init="init()">
    <div class="col-lg-12">
        <h2 ng-bind="tableInfo.Title"></h2>
        <hr />


        <div class="row">

            <div class="col-md-12">

                <div class="alert alert-danger text-center">
                    <h1 class="text-danger">{{LANG.YOU_SURE_DELETE}} <br>{{tableInfo.Title}} - [{{recordTitle()}}]?</h1>
                </div>


                <table class="table table-dd">
                    <tr ng-repeat="field in fields">
                        <th ng-bind="field.Title"></th>
                        <td ng-bind="fieldView(field.Name, record[field.Name])"></td>
                    </tr>
                    <th><button class="btn btn-success btn-lg" ng-click="goBack()"><span class="glyphicon glyphicon-backward"></span> {{LANG.BTN.CANCEL}}</button></th>
                    <td><button class="btn btn-danger btn-lg" ng-click="remove()"><span class="glyphicon glyphicon-remove"></span> {{LANG.BTN.DELETE}}</button></td>
                </table>
            </div>


        </div>


        <ng-include src="'views/route.html'"  ng-controller="RouteController"></ng-include>


        <div class="row" ng-if="!isNew && !isEdit">
            <div class="col-lg-12" ng-repeat="slave in slaveInfo">
                <a href="view/{{table}}/{{id}}/table/{{slave.table}}">{{slave.table}}</a>
            </div>
        </div>



    </div>
</div>