<div class="row">
    <div class="col-sm-12">

        <h4>Приветствуем Вас на сайте заказа сложных изделий!</h4>



        <!--<h4>Стартовая</h4>-->

        <!--<span ng-if="konvert" class="fa fa-envelope fa-5x"></span>
        <span ng-if="!konvert" class="fa fa-envelope-o fa-5x"></span>
        <h4>{{testTitle}}</h4>
        <div>Массив: {{values}}</div>
        <br>
        <a class="btn btn-info" ng-click="initHub()">Создать хаб!</a>-->
    </div>
</div>

