
<div ng-if="currentRole=='admin'" ng-controller="DataListController" ng-init="init()">
    <h2 ng-bind="tableInfo.Titles"></h2>
    <hr />

    <p><a href="{{getPathRecord({mode:'add',id:'New'})}}"><span class="glyphicon glyphicon-plus-sign"></span> {{LANG.BTN.ADD}}</a></p>

    <table class="table">
        <tr>
            <th ng-repeat="field in fields" ng-bind="field.Title"></th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="record in records">
            <td ng-repeat="field in fields" ><ng-include src="getEditTemplate('view',field)"></ng-include></td>
            <td>
                <ul class="list-inline text-nowrap">
                    <li><a href="{{getPathRecord({mode:'view',id:record.Id})}}"><span class="glyphicon glyphicon-eye-open text-warning"></span></a></li>
                    <li><a href="{{getPathRecord({mode:'edit',id:record.Id})}}"><span class="glyphicon glyphicon-edit"></span></a></li>
                    <li><a href="{{getPathRecord({mode:'delete',id:record.Id})}}"><span class="glyphicon glyphicon-trash text-danger"></span></a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>


