<div ng-if="currentRole=='admin'" class="row" ng-controller="DataRecordController"  ng-init="init()">
    <div class="col-lg-12">
        <h2 ng-bind="tableInfo.Title"></h2>
        <hr />


        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline">
                    <li><a href="{{getPathList({mode:'table'})}}"><span class="glyphicon glyphicon-list"></span> {{LANG.BTN.LIST}}</a></li>
                    <li><a href="{{getPathRecord({mode:'edit'})}}"><span class="glyphicon glyphicon-edit"></span> {{LANG.BTN.CHANGE}}</a></li>
                    <li><a href="{{getPathRecord({mode:'delete',id:record.Id})}}" class="text-danger"><span class="glyphicon glyphicon-remove"></span> {{LANG.BTN.DELETE}}</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ng-include src="'views/actions/buttons.html'"></ng-include>
                </div>
            </div>

            <div class="col-md-12">
                <h3 ng-bind="recordTitle()"></h3>

                <table class="table table-dd">
                    <tr ng-repeat="field in fields">
                        <th ng-bind="field.Title"></th>
                        <td><ng-include src="getViewTemplate('view',field)"></ng-include></td>
                    </tr>
                </table>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="slave in slaveInfo" ng-class="{active: isCurrentPath('{{getPathRecord({mode:'view',id:record.Id})}}/table/{{slave.table}}')}"><a href="{{getPathRecord({mode:'view',id:record.Id})}}/table/{{slave.table}}">{{slave.Titles}}</a></li>
        </ul>
        <ng-include src="'views/route.html'"  ng-controller="RouteController"></ng-include>

    </div>
</div>