
<div class="row" ng-if="!loadMaster">
<div class="col-lg-12">


<h3 ng-if="stages.sizes.title" ng-bind="stages.sizes.title"></h3>
<button class="btn btn-success pull-right" ng-click="Finish()"> <span class="fa fa-save"></span> Сохранить</button>

<br>
<p ng-if="stages.sizes.description" ng-bind="stages.sizes.description"></p>


<hr/>


<div ng-if_="data.stage=='sizes'">

    <div class="row">
        <div class="col-lg-6">



            <ul class="nav nav-pills">
                <li ng-class="{'active':data.values.sizes.type=='window'}"><a href="#" ng-click="data.values.sizes.type='window'">Просто окно</a> </li>
                <li ng-class="{'active':data.values.sizes.type=='block'}"><a href="#" ng-click="data.values.sizes.type='block'">Балконный блок (окно и дверь)</a> </li>
            </ul>

            <div ng-if="data.values.sizes.type=='window'">
                <table class="markup">
                    <tr>
                        <td colspan="4">
                            <h4>Окно</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Ширина</td>
                        <td colspan="2">Высота</td>
                    </tr>
                    <tr>
                        <td><input ng-model="data.values.sizes.window.width" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em> x </td>
                        <td><input ng-model="data.values.sizes.window.height" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em></td>
                    </tr>
                </table>
            </div>
            <div ng-if="data.values.sizes.type=='block'">
                <table class="markup">
                    <tr>
                        <td colspan="4">
                            <h4>Окно</h4>
                        </td>
                        <td colspan="4">
                            <h4>Дверь</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Ширина</td>
                        <td colspan="2">Высота</td>
                        <td colspan="2">Ширина</td>
                        <td colspan="2">Высота</td>
                    </tr>
                    <tr>
                        <td><input ng-model="data.values.sizes.window.width" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em> <span class="fa fa-close"></span></td>
                        <td><input ng-model="data.values.sizes.window.height" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em></td>
                        <td><input ng-model="data.values.sizes.door.width" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em> <span class="fa fa-close"></span> </td>
                        <td><input ng-model="data.values.sizes.door.height" class="form-control inp-size form-inline"></td>
                        <td><em>cm</em></td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="col-lg-6">
            <label>Примечание</label>
            <br>
            <textarea ng-model="data.values.sizes.note" class="form-control" rows="6" placeholder="Впишите примечание..."></textarea>
        </div>
    </div>

</div>








<hr/>




<div class="section-casements norm_label">


    <div ng-if="data.values.sizes.type=='window'">

        <div class="row">
            <div class="col-md-2 win-preview">
                    <img ng-if="data.values.casements.window_leaf==2" src="img/products/windows/f/calculator/window-template-2.jpg">
                    <img ng-if="data.values.casements.window_leaf==3" src="img/products/windows/f/calculator/window-template-3.jpg">
                    <img ng-if="data.values.casements.window_leaf==4" src="img/products/windows/f/calculator/window-template-1-or-2.jpg">
            </div>
            <div class="col-md-3">
                <h3>Створки</h3>

                <label class="">
                    <input type="radio" ng-model="data.values.casements.window_leaf" value="2">
                    Две створки
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="data.values.casements.window_leaf" value="3">
                    Три створки
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="data.values.casements.window_leaf" value="4">
                    Нестандартное окно
                </label>

                <br />
                <label><input type="checkbox" ng-model="data.values.casements.fanlight"> Добавить фрамугу (форточку)</label>

                </div>
                <div class="col-md-7" ng-if="data.values.casements.window_leaf<4">

                    <table class="markup norm_label" style="margin-left: 50px;">
                        <tr>
                            <td><h4>1-я створка</h4></td>
                            <td><h4>2-я створка</h4></td>
                            <td ng-if="data.values.casements.window_leaf==3"><h4>3-я створка</h4></td>
                        </tr>
                        <tr>
                            <td width="220" ng-if="data.values.casements.window_leaf<4">
                                <label><input type="radio" value="1" ng-model="data.values.casements.leaf1"> Глухая</label><br>
                                <label><input type="radio" value="2" ng-model="data.values.casements.leaf1"> Поворотная</label><br>
                                <label><input type="radio" value="3" ng-model="data.values.casements.leaf1"> Поворотно-откидная</label><br>
                            </td>
                            <td width="220" ng-if="data.values.casements.window_leaf<4">
                                <label><input type="radio" value="1" ng-model="data.values.casements.leaf2"> Глухая</label><br>
                                <label><input type="radio" value="2" ng-model="data.values.casements.leaf2"> Поворотная</label><br>
                                <label><input type="radio" value="3" ng-model="data.values.casements.leaf2"> Поворотно-откидная</label><br>
                            </td>
                            <td width="220" ng-if="data.values.casements.window_leaf==3">
                                <label><input type="radio" value="1" ng-model="data.values.casements.leaf3"> Глухая</label><br>
                                <label><input type="radio" value="2" ng-model="data.values.casements.leaf3"> Поворотная</label><br>
                                <label><input type="radio" value="3" ng-model="data.values.casements.leaf3"> Поворотно-откидная</label><br>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>

    </div>


    <div ng-if="data.values.sizes.type=='block'" class="row">

        <div class="col-md-2 win-preview">
            <img src="img/products/windows/f/calculator/balcon-2.jpg">
        </div>
        <div class="col-md-10">


            <table class="markup norm_label" style="margin-left: 50px;">
                <tr>
                    <td><h4>1-я створка</h4></td>
                    <td><h4>2-я створка</h4></td>
                    <td><h4>Дверь</h4></td>
                </tr>
                <tr>
                    <td width="220">
                        <label><input type="radio" value="1" ng-model="data.values.casements.leaf1"> Глухая</label><br>
                        <label><input type="radio" value="2" ng-model="data.values.casements.leaf1"> Поворотная</label><br>
                        <label><input type="radio" value="3" ng-model="data.values.casements.leaf1"> Поворотно-откидная</label><br>
                    </td>
                    <td width="220">
                        <label><input type="radio" value="1" ng-model="data.values.casements.leaf2"> Глухая</label><br>
                        <label><input type="radio" value="2" ng-model="data.values.casements.leaf2"> Поворотная</label><br>
                        <label><input type="radio" value="3" ng-model="data.values.casements.leaf2"> Поворотно-откидная</label><br>
                    </td>
                    <td width="220">
                        <label><input type="radio" value="2" ng-model="data.values.casements.door"> Поворотная</label><br>
                        <label><input type="radio" value="3" ng-model="data.values.casements.door"> Поворотно-откидная</label><br>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>







<hr/>


<div class="row">
    <div class="col-md-6">
        <h3>Профиль</h3>
        <textarea ng-model="data.values.pane.note" class="form-control" rows="8" placeholder="Профиль..."></textarea>
    </div>
    <div class="col-md-6">
        <h3>Стеклопакет</h3>
        <textarea ng-model="data.values.glass.note" class="form-control" rows="8" placeholder="Стеклопакет..."></textarea>
    </div>
</div>





<div class="row">
    <div class="col-md-6">
        <h3>Фурнитура</h3>
        <textarea ng-model="data.values.furniture.note" class="form-control" rows="8" placeholder="Фурнитура..."></textarea>
    </div>
    <div class="col-md-6">
        <h3>Дополнительно</h3>

        <textarea ng-model="data.values.adds.notes" class="form-control" rows="8"></textarea>
    </div>
</div>

<label>Дополнительная информация в файлах</label>
<div class="input-group">
    <ol>
        <li ng-repeat="(index,file) in data.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a>
            <a href="#" ng-click="deleteFile(index)" title="Удалить файл"><i class="fa fa-close text-danger"></i></a>
        </li>
    </ol>
    <input type="file" ng-model="tmp_file" class="form-control custom-control" onchange="angular.element(this).scope().saveFile(this )">

    <span  ng-if="data.values.adds.file" class="input-group-addon btn btn-success"><a href="{{data.values.adds.file}}" target="_blank"><i class="fa fa-floppy-o"></i> </a></span>
</div>





<hr/>


<button class="btn btn-success pull-right" ng-click="Finish()"> <span class="fa fa-save"></span> Сохранить</button>
<div class="clearfix"></div>

</div>


