<div>Фурнитура: <b ng-bind="item.ObjectData.values.furniture.note"></b></div>
<div>Дополнительно: <b ng-bind="item.ObjectData.values.adds.notes"></b></div>
<ol><li ng-repeat="file in item.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>
