<span ng-if="item.ObjectData.values.sizes.type=='window'">
    <b ng-bind="item.ObjectData.values.sizes.window.width"></b> х <b ng-bind="item.ObjectData.values.sizes.window.height"></b><em>cm</em>
</span>
<span ng-if="item.ObjectData.values.sizes.type!='window'">
    Окно: <b ng-bind="item.ObjectData.values.sizes.window.width"></b> х <b ng-bind="item.ObjectData.values.sizes.window.height"></b><em>cm</em>, Дверь : <b ng-bind="item.ObjectData.values.sizes.door.width"></b> х <b ng-bind="item.ObjectData.values.sizes.door.height"></b><em>cm</em><br>
</span>
