<img ng-if="item.ObjectData.values.sizes.type=='window' && item.ObjectData.values.casements.window_leaf==2" src="img/products/windows/f/calculator/window-template-2.jpg">
<img ng-if="item.ObjectData.values.sizes.type=='window' && item.ObjectData.values.casements.window_leaf==3" src="img/products/windows/f/calculator/window-template-3.jpg">
<img ng-if="item.ObjectData.values.sizes.type=='window' && item.ObjectData.values.casements.window_leaf==4" src="img/products/windows/f/calculator/window-template-1-or-2.jpg">
<img ng-if="item.ObjectData.values.sizes.type=='block'" src="img/products/windows/f/calculator/balcon-2.jpg">