<div ng-if="item.ObjectData.values.sizes.type=='window'">
    <span ng-if="item.ObjectData.values.casements.window_leaf==2">Двухстворчатое окно</span>
    <span ng-if="item.ObjectData.values.casements.window_leaf==3">Трехстворчатое окно</span>
    <!--<span ng-if="item.ObjectData.values.casements.window_leaf==4">Нестандартное окно</span>-->
    <span ng-if="item.ObjectData.values.casements.fanlight"> с фромугой</span>
    <br>
    <div ng-if="item.ObjectData.values.casements.window_leaf!=4">Створка 1 -
        <span ng-if="item.ObjectData.values.casements.leaf1==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.leaf1==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.leaf1==3">Поворотно-откидная</span>
    </div>
    <div ng-if="item.ObjectData.values.casements.window_leaf!=4">Створка 2 -
        <span ng-if="item.ObjectData.values.casements.leaf2==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.leaf2==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.leaf2==3">Поворотно-откидная</span>
    </div>
    <div ng-if="item.ObjectData.values.casements.window_leaf==3">Створка 3 -
        <span ng-if="item.ObjectData.values.casements.leaf3==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.leaf3==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.leaf3==3">Поворотно-откидная</span>
    </div>
</div>
<div ng-if="item.ObjectData.values.sizes.type!='window'">
    <span>Балконный блок</span>

    <div>Створка 1 -
        <span ng-if="item.ObjectData.values.casements.leaf1==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.leaf1==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.leaf1==3">Поворотно-откидная</span>
    </div>
    <div>Створка 2 -
        <span ng-if="item.ObjectData.values.casements.leaf2==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.leaf2==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.leaf2==3">Поворотно-откидная</span>
    </div>
    <div>Дверь -
        <span ng-if="item.ObjectData.values.casements.door==1">Глухая</span>
        <span ng-if="item.ObjectData.values.casements.door==2">Поворотная</span>
        <span ng-if="item.ObjectData.values.casements.door==3">Поворотно-откидная</span>
    </div>
</div>
