<div ng-if="product.ObjectData.values.sizes.type=='window'">
    <span ng-if="product.ObjectData.values.casements.window_leaf==2">Двухстворчатое окно</span>
    <span ng-if="product.ObjectData.values.casements.window_leaf==3">Трехстворчатое окно</span>
    <!--<span ng-if="product.ObjectData.values.casements.window_leaf==4">Нестандартное окно</span>-->
    <span ng-if="product.ObjectData.values.casements.fanlight"> с фромугой</span>
    (<b ng-bind="product.ObjectData.values.sizes.window.width">product.ObjectData.values.sizes.window.width</b> х <b ng-bind="product.ObjectData.values.sizes.window.height"></b> см)
    <br>
    <div ng-if="product.ObjectData.values.casements.window_leaf==2">Створка 1 -
        <span ng-if="product.ObjectData.values.casements.leaf1==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.leaf1==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.leaf1==3">Поворотно-откидная</span>
    </div>
    <div>Створка 2 -
        <span ng-if="product.ObjectData.values.casements.leaf2==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.leaf2==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.leaf2==3">Поворотно-откидная</span>
    </div>
    <div ng-if="product.ObjectData.values.casements.window_leaf==3">Створка 3 -
        <span ng-if="product.ObjectData.values.casements.leaf3==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.leaf3==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.leaf3==3">Поворотно-откидная</span>
    </div>
</div>
<div ng-if="product.ObjectData.values.sizes.type!='window'">
    <div>Балконный блок</div>
    <div style="white-space: nowrap">
        Окно - <b ng-bind="product.ObjectData.values.sizes.window.width"></b> х <b ng-bind="product.ObjectData.values.sizes.window.height"></b> см.,
        Дверь - <b ng-bind="product.ObjectData.values.sizes.door.width"></b> х <b ng-bind="product.ObjectData.values.sizes.door.height"></b> см.
    </div>

    <div>Створка 1 -
        <span ng-if="product.ObjectData.values.casements.leaf1==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.leaf1==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.leaf1==3">Поворотно-откидная</span>
    </div>
    <div>Створка 2 -
        <span ng-if="product.ObjectData.values.casements.leaf2==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.leaf2==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.leaf2==3">Поворотно-откидная</span>
    </div>
    <div>Дверь -
        <span ng-if="product.ObjectData.values.casements.door==1">Глухая</span>
        <span ng-if="product.ObjectData.values.casements.door==2">Повоторная</span>
        <span ng-if="product.ObjectData.values.casements.door==3">Поворотно-откидная</span>
    </div>
</div>

<b>Примечание:</b>
<pre ng-bind="product.ObjectData.values.sizes.note"></pre>


<b>Профиль:</b>
<pre ng-bind="product.ObjectData.values.pane.note"></pre>

<b>Стеклопакет:</b>
<pre ng-bind="product.ObjectData.values.glass.note"></pre>


<b>Фурнитура:</b>
<pre ng-bind="product.ObjectData.values.furniture.note"></pre>

<b>Дополнительно:</b>
<pre ng-bind="product.ObjectData.values.adds.notes"></pre>

<ol><li ng-repeat="file in product.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>