<div class="row">
    <div ng-init="initNew('Orders','New')">
        <h2>{{LANG.ORDERS.ADD_TITLE}}</h2>
    </div>


    <div class="col-md-12">
        <h3 ng-bind="recordTitle()"></h3>

        <table class="table table-dd">
            <tr ng-repeat="field in fields | fields : 'Name,Code'">
                <th ng-bind="field.Title"></th>
                <td> <ng-include src="getEditTemplate('edit',field)"></ng-include></td>
            </tr>
            <tr>
                <th>
                    <a class="btn btn-default" href="orders/list"><span class="glyphicon glyphicon-menu-left"></span> {{LANG.BTN.CANCEL}}</a>
                </th>
                <td>
                    <button class="btn btn-primary btn-primary pull-right" ng-click="saveOrder(this)"><span class="glyphicon glyphicon-save"></span> {{LANG.BTN.SAVE}}</button>
                </td>
            </tr>
        </table>
    </div>

</div>
        
