<div ng-if="record.Id>0">
    <ul ng-controller="DataListController"  ng-init="init('Products',{OrderId:$parent.record.Id});" class="list-unstyled">
        <li ng-repeat="product in records">  <!-- Получаем пролдукт и категорию ИД -->
        <span  ng-controller="DataRecordController" ng-init="init('ProductCategories',product.ProductCategoryId);"> <!--  получаем из категории TableID-->
            <ng-include ng-if="record.TableId==7" src="'views/orders/delails/windows.html'"></ng-include>
            <ng-include ng-if="record.TableId==8" src="'views/orders/delails/doors.html'"></ng-include>
        </span>

        </li>
    </ul>
</div>