<div class="alert alert-danger" ng-if="!userID && goAuth()"></div>

<div class="row" ng-if="currentRole=='customer' && userID">
    <div ng-controller="DataListController"  ng-init="init('Orders',{UserId:userID})">
        <h2 ng-bind="tableInfo.Titles"></h2>
        <hr />

        <a href="orders/add"ng-if="access_role('ORDER_CREATE',record)">{{LANG.ORDERS.ADD}}</a>

        <table class="table">
            <tr>
                <th>{{LANG.ORDERS.TABLE.DATE}}</th>
                <th>{{LANG.ORDERS.TABLE.NUMBER}}</th>
                <th>{{LANG.ORDERS.TABLE.CONTAIN}}</th>
                <th>{{LANG.ORDERS.TABLE.STATUS}}</th>
                <th>{{LANG.ORDERS.TABLE.ACTIONS}}</th>
                <th></th>
            </tr>
            <tr ng-repeat="record in records">
                <td ng-bind="record.OrderDate"></td>
                <td ng-bind="record.Code"></td>
                <td>
                    <ng-include src="'views/orders/details.html'"></ng-include>
                </td>
                <td ng-bind="fieldView('OrderStateId',record.OrderStateId)"></td>
                <td ng-if="record.Id">
                    <div ng-if="access_role('ORDER_CHANGE_STATE',record)">
                        <ng-include src="'views/actions/buttons.html'"></ng-include>
                    </div>
                    <a ng-if="record.OrderStateId==5" href="orders/{{record.Id}}/proposals"><span class="fa fa-table"></span> {{LANG.ORDERS.VIEW_PROPOSAL}}</a>
                </td>
                <td>
                    <a href="orders/{{record.Id}}/details"><span class="fa fa-eye fa-lg text-info"></span></a>&nbsp;
                    <a  ng-if="access_role('ORDER_EDIT',record)" href="orders/{{record.Id}}/edit"><span class="fa fa-edit fa-lg text-primary"></span></a>
                </td>
            </tr>
        </table>
    </div>


</div>

<div  ng-if="currentRole=='company'  && userID">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{LANG.ORDERS.YOU_ORDERS}}</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h3>{{LANG.ORDERS.ORDER_DATA}}</h3>
        </div>
        <div class="col-sm-8">
            <h3>{{LANG.ORDERS.DETAIL}}</h3>
        </div>
        <div class="col-sm-2">
            <h3><!-- {{LANG.ORDERS.STATUS}}--> </h3>
        </div>
        <div class="col-sm-12"><hr></div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':!params.orderType || params.orderType=='work'}">
            <a href="orders/type/work"><span class="fa fa-wrench"></span> В работе</a>
        </li>
        <li role="presentation"  ng-class="{'active':params.orderType=='tender'}">
            <a href="orders/type/tender"><span class="fa fa-bar-chart"></span> Проводится тендер</a>
        </li>
    </ul>

    <br>
    <div ng-controller="DataListController"  ng-init="init('TenderProposals',{UserId:userID})">
        <div  ng-repeat="record in records">
            <!--TenderProposals:{{record}}-->
            <div ng-if="record.TenderId>0" ng-controller="DataRecordController"  ng-init="init('Tenders',$parent.record.TenderId)">
                <!--Tenders: {{record}}-->
                <div  ng-if="record.OrderId>0" ng-controller="DataRecordController"  ng-init="init('Orders',$parent.record.OrderId)">
                    <div class="row" ng-if="(params.orderType!='tender' && record.OrderStateId==6) || (params.orderType=='tender' && record.OrderStateId==5)">
                        <div class="col-sm-2">{{record.OrderDate}}</div>

                        <div class="col-sm-7">
                            <h4 ng-class="{'text-success':record.OrderStateId==7,'text-warning':record.OrderStateId==6}">{{record.Name}}</h4>
                            <ng-include src="'views/orders/details.html'"></ng-include>
                        </div>
                        <div class="col-sm-1"><a href="orders/{{record.Id}}/details"><span class="fa fa-eye fa-2x"></span></a></div>
                        <div class="col-sm-2">
                            <a href="#" ng-click="pChat.open(record.UserId)"><span class="fa fa-comment-o"></span></a>
                            <a ng-if="record.OrderStateId==7" class="btn btn-sm btn-success">{{LANG.ORDERS.EXECUTED}}</a>
                        </div>

                        <div class="col-sm-12"><hr></div>

                    </div>

                </div>
            </div>
        </div>
    </div>



</div>




