<div class="alert alert-danger" ng-if="!userID && goAuth()"></div>
<div class="row" ng-controller="DataRecordController" ng-init="init('Orders',params.OrderId)">
    <table class="table table-dd">
        <tr ng-repeat="field in fields | fields : 'Name,Code,OrderStateId'">
            <th ng-bind="field.Title"></th>
            <td><ng-include src="getViewTemplate('view',field)"></ng-include></td>
        </tr>

    </table>

    <div ng-init="init('Orders',params.OrderId)">
        <h3>{{LANG.ORDERS.PROPOSAL_TITLE}}</h3>
        <a href="orders/list"><span class="fa fa-list"></span> {{LANG.ORDERS.BACK_TO_LIST}}</a>
    </div>

    <div  ng-controller="DataListController" ng-init="init('Tenders',{OrderId:params.OrderId})">
        <div ng-repeat="record in records">
            <table  ng-controller="DataListController" class="table table-bordered" ng-init="init('TenderProposals',{TenderId:record.Id})"> <!--$parent.-->
                <th ng-repeat="field in fields  | fields : 'UserId,ProposalTime,Price,Prepay'" ng-bind="field.Title"></th>
                <th>{{LANG.ORDERS.WINNER}}</th>
                <tr ng-repeat="record in records">
                    <td ng-if="record.UserId" ng-controller="DataRecordController" ng-init="init('Users',$parent.record.UserId)">
                        <span ng-if="record.CompanyId" ng-controller="DataRecordController" ng-init="init('Companies',$parent.record.CompanyId)" ng-bind="record.Name"></span>
                    </td>
                    <td ng-repeat="field in fields  | fields : 'ProposalTime,Price,Prepay'">
                        <ng-include src="getViewTemplate('view',field)"></ng-include>
                    </td>
                    <td>
                        <ng-include src="'views/actions/buttons.html'"></ng-include>
                        <span ng-if="record.Accepted" class="fa fa-flag fa-lg text-success"></span>
                        <a ng-if="record.Accepted" href="messages/{{record.UserId}}" ng-click__popup_disabled="pChat.open(record.UserId)"><span class="fa fa-comment-o"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

