<div class="alert alert-danger" ng-if="!userID && goAuth()">
</div>

<div  class="row" ng-init="init('Orders',params.OrderId)">
    <div  ng-if="userID">
    <div>
        <h3>{{LANG.ORDERS.DETAILS}}</h3>
        <a href="orders"><span class="fa fa-list"></span> Все заказы</a> &nbsp;
        <a ng-if="record.OrderStateId==5 && currentRole=='customer'" href="orders/{{params.OrderId}}/proposals"><span class="fa fa-table"></span> {{LANG.ORDERS.VIEW_PROPOSAL}}</a>
    </div>


    <div class="col-md-12" ng-init="currentOrder=record;">
        <div class="row">
            <div class="col-sm-6"><h3 ng-bind="recordTitle()"></h3></div>
            <div class="col-sm-6 text-right" ng-if="access_role('ORDER_CHANGE_STATE',record)">
                <ng-include src="'views/actions/buttons.html'"></ng-include>

            </div>
        </div>


        <table class="table table-dd">
            <tr ng-repeat="field in fields | fields : 'Name,Code,OrderStateId'">
                <th ng-bind="field.Title"></th>
                <td><ng-include src="getViewTemplate('view',field)"></ng-include></td>
            </tr>

        </table>
    </div>
    <div class="col-md-12" ng-if="!params.ProductId">
        <table class="table" ng-controller="DataListController" ng-init="init('Products',{OrderId:params.OrderId})">
            <tr>
                <th ng-repeat="field in fields | fields : 'Code,Name,ProductCategoryId,Quantity'" ng-bind="field.Title"></th>
                <th></th>
            </tr>
            <tr ng-repeat="record in records">
                <td ng-repeat="field in fields | fields : 'Code,Name,ProductCategoryId,Quantity'">
                    <ng-include src="getEditTemplate('view',field)"></ng-include>
                </td>
                <td>
                    <a href="orders/{{params.OrderId}}/details/{{record.Id}}/view"><span class="fa fa-eye fa-lg text-info"></span></a>&nbsp;
                    <a ng-if="access_role('ORDER_EDIT',$parent.$parent.record)" href="orders/{{params.OrderId}}/details/{{record.Id}}/edit"><span class="fa fa-edit fa-lg text-primary"></span></a>

                </td>
            </tr>
        </table>

        <a  ng-if="access_role('ORDER_EDIT',$parent.record)" class="btn btn-info  pull-right" href="orders/{{params.OrderId}}/details/New/edit"><span class="fa fa-plus"></span> {{LANG.ORDERS.ADD_PRODUCT}}</a>
    </div>

    <div class="col-md-12" ng-if="params.ProductId && id">
        <ul class="nav nav-tabs" ng-controller="DataListController" ng-init="init('Products',{OrderId:params.OrderId})">
            <li role="presentation" ng-repeat="record in records" ng-class="{'active':params.ProductId==record.Id}"><a href="orders/{{params.OrderId}}/details/{{record.Id}}/view">{{record.Name}}</a></li>
            <li role="presentation" class="pull-right" ng-if="access_role('ORDER_EDIT',$parent.$parent.record)"   ng-class="{'active':params.ProductId=='New'}"><a href="orders/{{params.OrderId}}/details/New/edit"><span class="fa fa-plus"></span> {{LANG.BTN.ADD}}</a>
            <li role="presentation" class="pull-right"><a href="orders/{{params.OrderId}}/details"><span class="fa fa-list"></span> {{LANG.BTN.LIST}}</a></li>
        </ul>
    </div>

    <div class="col-md-12" ng-if="params.ProductId" ng-controller="DataRecordController" ng-init="init('Products',params.ProductId)"> <!-- ;condition={OrderId:params.OrderId}; -->

        <table class="table table-dd">
            <tr>
                <td>
                    <b ng-bind="recordTitle()"></b>
                </td>
                <td>
                    <a ng-if="params.mode=='edit' && params.ProductId!='New'" class="" href="orders/{{params.OrderId}}/details/{{params.ProductId}}/view"><span class="fa fa-backward"></span> {{LANG.BTN.BACK}}</a>
                    <a ng-if="params.mode=='edit' && params.ProductId=='New'" class="" href="orders/{{params.OrderId}}/details"><span class="fa fa-backward"></span> {{LANG.BTN.CANCEL}}</a>
                    <a ng-if="params.mode!='edit' && access_role('ORDER_EDIT',$parent.$parent.record)"  class="text-primary pull-right" href="orders/{{params.OrderId}}/details/{{params.ProductId}}/edit"><span class="fa fa-edit"></span> {{LANG.BTN.EDIT}}</a>
                    <a ng-if="params.mode=='edit'" class="text-success pull-right" href="javascript:void(0)" ng-click="saveProduct(this)"><span class="fa fa-save"></span> {{LANG.BTN.SAVE}}</a>
                </td>
            </tr>
            <tr ng-repeat="field in fields | fields : 'Code,Name,ProductCategoryId,Quantity'">
                <th ng-bind="field.Title"></th>
                <td ng-if="params.mode!='edit'"><ng-include src="getEditTemplate('view',field)"></ng-include></td>
                <td ng-if="params.mode=='edit'"><ng-include src="getEditTemplate('edit',field)"></ng-include></td>
            </tr>
        </table>
        <ng-include ng-if="record.ProductCategoryId==1" src="'views/orders/objects/ProductWindows.html'"></ng-include>
        <ng-include ng-if="record.ProductCategoryId==2" src="'views/orders/objects/ProductDoors.html'"></ng-include>
    </div>


    </div>
</div>

