﻿    <h2>Новый заказ</h2>
    <div class="row">
        <div class="col-md-5">
            <form name="formAdd" novalidate ng-submit="add()">
                <div class="bg-danger validationErrors" ng-show="validationErrors">
                    <ul>
                        <li ng-repeat="error in validationErrors">{{error}}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Code">Код</label>
                    <input name="Code"
                           type="text"
                           class="form-control"
                           placeholder="Укажите код заказа"
                           ng-model="order.Code"
                           ng-required="true"/>
                </div>
                <div class="form-group">
                    <label for="Date">Дата</label>
                    <input name="Date"
                           type="date"
                           class="form-control"
                           placeholder="Укажите дату заказа"
                           ng-model="order.OrderDate"
                           ng-required="true" />
                </div>                
                <div class="form-group">
                    <label for="Name">Название</label>
                    <input name="Name"
                           type="text"
                           class="form-control"
                           placeholder="Укажите название заказа"
                           ng-model="order.Name"
                           ng-required="true"
                           ng-minlength="3" />
                </div>
                <input name="UserId" type="hidden" ng-model="order.UserId" ng-init="order.UserId='1'">
                <button type="submit" ng-disabled="formAdd.$invalid" class="btn btn-primary">Создать</button>
                <a href="/orders/list" class="btn btn-default">Отмена</a>
            </form>
        </div>
    </div>