﻿<h2>Заказ: {{order.Code}} - {{order.Name}}</h2>
<hr />

<div><a href="/orders/list" class="btn btn-primary">Список заказов</a></div>

<br />

<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-striped">
            <tr ng-switch on="order.OrderStateId">
                <td>
                    <strong>Статус</strong>
                </td>
                <td ng-switch-when="1">Формируется</td>
                <td ng-switch-when="2">Сформирован</td>
                <td ng-switch-when="3">Отменен</td>
                <td ng-switch-when="4">На тендере</td>
                <td ng-switch-when="5">На аукционе</td>
                <td ng-switch-when="6">Исполняется</td>
                <td ng-switch-when="7">Выполнен</td>
                <td ng-switch-when="8">Заархивирован</td>
            </tr>
            <tr>
                <td>
                    <strong>Код</strong>
                </td>
                <td>{{order.Code}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Дата</strong>
                </td>
                <td>{{order.OrderDate|date:"dd.MM.yyyy"}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Название</strong>
                </td>
                <td>{{order.Name}}</td>
            </tr>
        </table>
</div>
</div>

<br />
<h2>Продукты</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Код</th>
            <th>Категория</th>
            <th>Количество</th>
            <th>Продукт</th>
            <th>Спецификация</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products" ng-switch on="product.ProductCategoryId">
            <td ng-if="product.OrderId==order.Id">{{product.Code}}</td>
            <td ng-if="product.OrderId==order.Id" ng-switch-when="1">Окна</td>
            <td ng-if="product.OrderId==order.Id" ng-switch-when="2">Двери</td>
            <td ng-if="product.OrderId==order.Id">{{product.Quantity}}</td>
            <td ng-if="product.OrderId==order.Id">{{product.Name}}</td>
            <td ng-if="product.OrderId==order.Id"><a href="{{product.SpecificationLink}}" target="_blank">{{product.SpecificationLink}}</a></td>
            <td ng-if="product.OrderId==order.Id">
                <a href="/products/details/{{product.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
            </td>
        </tr>
    </tbody>
</table>