﻿<h2>Заказ: {{order.Code}} - {{order.Name}}</h2>
<hr />

<div class="row">
    <a href="/orders/list" class="btn btn-primary">Список заказов</a>
    <div class="col-md-12 text-right">
        <form name="formEditState" novalidate ng-submit="editState()">
            <button type="submit" ng-disabled="formEditState.$invalid" class="btn btn-success">Сформировать заказ</button>
        </form>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-5">
        <form name="formEdit" novalidate ng-submit="edit()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <strong>Код</strong>
                    </td>
                    <td>
                        <input name="Code" type="text" class="form-control" placeholder="Укажите код заказа" ng-model="order.Code" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Дата</strong>
                    </td>
                    <td>
                        <input name="Date" type="text" class="form-control" placeholder="Укажите дату заказа" ng-model="order.OrderDate" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Название</strong>
                    </td>
                    <td>
                        <input name="Name" type="text" class="form-control" placeholder="Укажите название заказа" ng-model="order.Name" ng-required="true" ng-minlength="3" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<br />

<h2>Продукты</h2>
<p>
    <a href="/products/add/{{order.Id}}" class="btn btn-primary">Добавить продукт</a>
</p>
<div ng-include src="'views/products/list.html'"></div>