﻿    <h2>Заказы</h2>
    <p>
        <a href="/orders/add" class="btn btn-primary">Добавить заказ</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Код</th>
                <th>Дата</th>
                <th>Название</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders" ng-switch on="order.OrderStateId">
                    <td>{{order.Code}}</td>
                    <td>{{order.OrderDate|date:"dd.MM.yyyy"}}</td>
                    <td>{{order.Name}}</td>
                    
                    <td ng-switch-when="1">Формируется</td>
                    <td ng-switch-when="2">Сформирован <a href="/auctions/add/{{order.Id}}" class="btn btn-warning btn-xs">Объявить аукцион</a></td>
                    <td ng-switch-when="3">Отменен</td>
                    <td ng-switch-when="4">На тендере</td>
                    <td ng-switch-when="5">На аукционе <a href="/offers/list/{{order.Id}}" class="btn btn-success btn-xs">Посмотреть предложения</a></td>
                    <td ng-switch-when="6">Исполняется</td>
                    <td ng-switch-when="7">Выполнен</td>
                    <td ng-switch-when="8">Заархивирован</td>

                    <td ng-switch-when="1">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                        <a href="/orders/edit/{{order.Id}}" class="btn btn-info btn-xs">Изменить</a>
                        <a href="/orders/delete/{{order.Id}}" class="btn btn-danger btn-xs">Удалить</a>
                    </td>
                    <td ng-switch-when="2">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="3">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="4">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="5">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="6">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="7">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
                    <td ng-switch-when="8">
                        <a href="/orders/details/{{order.Id}}" class="btn btn-primary btn-xs">Просмотр</a>
                    </td>
            </tr>
        </tbody>
    </table>