<div ng-if="currentRole=='manager'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-black-tie text-primary"></span> Заказать визит консультанта для клиента</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Выберите клиента</label>
                <div class="input-group" ng-if="clients">
                    <ui-select allow-clear  ng-model="sClient.selected" theme="bootstrap"  title="Выбор клиента">
                        <ui-select-match placeholder="Выберите клиента">{{$select.selected.LastName}} {{$select.selected.FirstName}} {{$select.selected.MiddleName}}</ui-select-match>
                        <ui-select-choices repeat="client in clients | filter: $select.search">
                            <b ng-bind="client.LastName"></b>
                            {{client.FirstName}} {{client.MiddleName}}, <i ng-bind="client.Address"></i>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <a ng-if="sClient.selected != undefined" title="Написать клиенту" href="messages/{{client_id}}" class="btn btn-info"><span class="fa fa-envelope-o"></span></a>
                        <button ng-click="sClient.selected = undefined" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="VisitUserId" class="row">
        <div class="col-lg-12" ng-controller="ConsultantVisitController">
            <ng-include src="'views/roles/client/consultant_visit.html'"></ng-include>
        </div>
    </div>
</div>

