<!-- Можно удалять -->
<h2 ng-bind="tableInfo.Title"></h2>
<hr />


<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            <li><a href="./table/{{table}}"><span class="glyphicon glyphicon-list"></span> {{LANG.BTN.LIST}}</a></li>
            <li><a href="./table/{{table}}/{{id}}"><span class="glyphicon glyphicon-eye-open"></span> {{LANG.BTN.VIEW}}</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a class="btn btn-primary btn-warning" href="#">[Дейсвие...]</a>
        </div>
    </div>

    <div class="col-md-12">
        <h3 ng-bind="recordTitle()"></h3>

        <table class="table table-dd">
            <tr ng-repeat="field in fields">
                <th ng-bind="field.Title"></th>
                <td> <ng-include src="getEditTemplate('edit',field)"></ng-include></td>
            </tr>
            <tr>
                <th>
                    <a class="btn btn-default" href="{{homeRoot()}}/{{table}}"><span class="glyphicon glyphicon-menu-left"></span> Отмена</a>
                </th>
                <td>
                    <button class="btn btn-primary btn-primary pull-right" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Сохранить</button>
                </td>
            </tr>
        </table>
    </div>
</div>
