<div  >
    <h2 ng-bind="tableInfo.Titles"></h2>
    <hr />

    <p><a href="{{homeRoot()}}/{{table}}/new"><span class="glyphicon glyphicon-plus-sign"></span> Добавить</a></p>

    <table class="table">
        <tr>
            <th ng-repeat="field in fields" ng-bind="field.Title"></th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="record in records">
            <td ng-repeat="(field,value) in record" ng-bind="fieldView(field, value)"></td>
            <td>
                <ul class="list-inline text-nowrap">
                    <li><a href="./table/{{table}}/{{record.Id}}"><span class="glyphicon glyphicon-eye-open text-warning"></span></a></li>
                    <li><a href="./table/{{table}}/{{record.Id}}/edit"><span class="glyphicon glyphicon-edit"></span></a></li>
                    <li><a href="./table/{{table}}/{{record.Id}}/delete"><span class="glyphicon glyphicon-trash text-danger"></span></a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
