<h2 ng-bind="tableInfo.Title"></h2>
<hr />


<div class="row">
    <div class="col-md-6">
        <ul class="list-inline">
            <li><a href="./table/{{table}}"><span class="glyphicon glyphicon-list"></span> Список</a></li>
            <li><a href="./table/{{table}}/{{id}}/edit"><span class="glyphicon glyphicon-edit"></span> Изменить</a></li>
            <li><a href="#" class="text-danger" ng-click="remove()"><span class="glyphicon glyphicon-remove"></span> Удалить</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a class="btn btn-primary btn-warning" href="#">[Дейсвие...]</a>
        </div>
    </div>

    <div class="col-md-12">
        <h3 ng-bind="recordTitle()"></h3>

        <table class="table table-dd">
            <tr ng-repeat="field in fields">
                <th ng-bind="field.Title"></th>
                <td ng-bind="fieldView(field.Name, record[field.Name])"></td>
            </tr>
        </table>
    </div>
</div>



<div class="row" ng-if="!isNew && !isEdit">
    <div class="col-lg-12" ng-repeat="slave in slaveInfo">
        <div ng-controller="DataListController" ng-init="initTable(slave.table);">
            <ng-include src="'views/simple/table.html'"></ng-include>
        </div>
    </div>
</div>