<a href="orders/{{$parent.$parent.$parent.record.Id}}/details/{{product.Id}}/view">
   <b>{{product.Name}}</b> <span  ng-controller="DataRecordController" ng-init="init('ProductDoors',product.ObjectId);">{{recordTitle()}}</span>
</a>
