<div class="alert alert-danger" ng-if="!userID && goAuth()"></div>
<div ng-init="init('Auctions');condition={'IsOpen':true}">
    <h2 ng-bind="tableInfo.Titles"></h2>
    <hr />

    <table class="table">
        <tr>
            <th>{{LANG.AUCTION.TABLE.CODE}}</th>
            <th>{{LANG.AUCTION.TABLE.ORDER}}</th>
            <th>{{LANG.AUCTION.TABLE.BEGIN}}</th>
            <th>{{LANG.AUCTION.TABLE.END}}</th>
            <th>{{LANG.AUCTION.TABLE.RESULT}}</th>
        </tr>
        <tr ng-repeat="record in records">
            <td ng-repeat="field in fields | fields : 'Id,OrderId,OpeningTime,ClosingTime'">
                <ng-include src="getEditTemplate('view',field)"></ng-include>
            </td>
            <td>
                <a href="auctions/{{record.Id}}"><span class="fa fa-bars"></span> {{LANG.AUCTION.TABLE.RESULT_VIEW}}</a>
            </td>
        </tr>
    </table>
</div>

