<div class="alert alert-danger" ng-if="!userID && goAuth()"></div>
<div  ng-init="init('Auctions',params.AuctionId);">

    <table class="table table-dd">
        <tr ng-repeat="field in fields | fields : 'Id,OrderId,OpeningTime,ClosingTime'">
            <th ng-bind="field.Title"></th>
            <td><ng-include src="getViewTemplate('view',field)"></ng-include></td>
        </tr>
    </table>


    <h4 class="pull-right text-info">{{recordTitle()}}</h4>
    <h4>{{LANG.AUCTION.PROPOSAL}}</h4>
    <table  ng-controller="DataListController" class="table" ng-init="init('AuctionProposals',{AuctionId:params.AuctionId})">
        <th>Компания</th>
        <th ng-repeat="field in fields  | fields : 'ProposalTime,Price'" ng-bind="field.Title"></th>
        <tr ng-repeat="record in records">
            <td ng-if="record.UserId" ng-controller="DataRecordController" ng-init="init('Users',$parent.record.UserId)">
                <span ng-if="record.CompanyId" ng-controller="DataRecordController" ng-init="init('Companies',$parent.record.CompanyId)" ng-bind="record.Name"></span>
            </td>
            <td ng-repeat="field in fields  | fields : 'ProposalTime,Price'">
                <ng-include src="getViewTemplate('view',field)"></ng-include>
            </td>
        </tr>
    </table>
    <table  ng-controller="DataRecordController" class="table" ng-init="init('AuctionProposals','New')">
        <tr>
            <td width="50%" class="text-right">{{LANG.AUCTION.OFFER_PRICE}}</td>
            <td><input class="form-control" ng-model="record.Price" placeholder="Ваша цена..."></td>
            <td class="hidden"><input type="checkbox" ng-model="record.Accepted" value="false"></td>
            <td><button class="btn btn-success" ng-click="save('current')"><span class="fa fa-check"></span> {{LANG.AUCTION.PROPOSAL_BTN}}</button></td>
        </tr>
    </table>




    <div class="col-md-12" ng-if="record.OrderId">
        <table class="table" ng-controller="DataListController" ng-init="init('Products',{OrderId:record.OrderId})">
            <tr>
                <th ng-repeat="field in fields | fields : 'Id,Code,Name,ProductCategoryId,Quantity'" ng-bind="field.Title"></th>
            </tr>
            <tr ng-repeat="record in records">
                <td ng-repeat="field in fields | fields : 'Id,Code,Name,ProductCategoryId,Quantity'">
                    <ng-include src="getEditTemplate('view',field)"></ng-include>
                </td>
            </tr>
        </table>

    </div>


</div>
