<div ng-if="currentRole=='estimator' && userID">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="page-header"><span class="fa fa-industry text-primary"></span> Поставщики</h1>
        </div>
        <div class="col-sm-6 text-right">
            <br><br><button ng-if="currentIndex===false" class="btn btn-info" ng-click="addNew()"><i class="fa fa-plus"></i> Добавить поставщика</button>
        </div>
    </div>
    <div class="row" ng-if="suppliers">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Срок поставки</th>
                    <th>Гарантия</th>
                    <th>Предоплата</th>
                    <th>Рейтинг</th>
                </tr>
                <tr ng-repeat="(index,supplier) in suppliers" style="cursor: pointer" ng-click="setActive(index)" ng-class="{'bg-primary':currentIndex===index}">
                    <td ng-bind="supplier.Id"></td>
                    <td ng-bind="supplier.Title"></td>
                    <td ng-bind="supplier.Term"></td>
                    <td ng-bind="supplier.Guarantee"></td>
                    <td ng-bind="supplier.Prepay"></td>
                    <td>
                        <uib-rating ng-model="supplier.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично',]" aria-labelledby="default-rating"></uib-rating>
                    </td>
                </tr>
            </table>
        </div>

    <div class="row" ng-if="currentIndex!==false">
        <div class="col-sm-12">
            <h4><i class="fa fa-edit text-success"></i> Редактирование поставщика</h4>
            <table class="table table-dd">
                <tr>
                    <th>Название</th>
                    <td><input ng-model="suppliers[currentIndex].Title" class="form-control"></td>
                </tr>
                <tr>
                    <th>Срок поставки</th>
                    <td><input ng-model="suppliers[currentIndex].Term" class="form-control"></td>
                </tr>
                <tr>
                    <th>Гарантия</th>
                    <td><input ng-model="suppliers[currentIndex].Guarantee" class="form-control"></td>
                </tr>
                <tr>
                    <th>Предоплата</th>
                    <td><input ng-model="suppliers[currentIndex].Prepay" class="form-control"></td>
                </tr>
                <tr>
                    <th>Рейтинг</th>
                    <td>
                        <uib-rating ng-model="suppliers[currentIndex].Rating" max="5" readonly="false" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично',]" aria-labelledby="default-rating"></uib-rating>
                    </td>
                </tr>
            </table>
        <button class="btn btn-success pull-right" ng-click="SaveCurrent()"><i class="fa fa-floppy-o"></i> Сохранить</button>
        </div>
    </div>

</div>
