<div ng-if="currentRole=='estimator' && userID">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-briefcase text-primary"></span> Предложения по тендерам</h1>
        </div>
    </div>





    <div class="row" ng-if="orderIndex===false">
        <div class="col-lg-12">
            <h4>Заказы на тендере:</h4>
            <table class="table table-responsive">
                <tr>
                    <th>Код</th>
                    <th>Дата</th>
                    <th>До окончания</th>
                    <th>Состав</th>
                    <th>Примечание</th>
                </tr>
                <tr ng-repeat="(index,order) in orders" class="hovered" ng-click="goOrder(order.Id)">
                    <td ng-bind="order.Code"></td>
                    <td ng-bind="order.Date | msdate"></td>
                    <td><div class="back-timer"> <back-timer end="order.ClosingTime"></back-timer></div></td>
                    <td><ol><li ng-repeat="product in order.Products">{{product.Title}}
                        <!--<a href="#" popover-title="{{product.Title}}"
                           uib-popover-template="'views/product/windows/summary.html'"
                           popover-placement="bottom-right" popover-trigger="outsideClick"><i class="fa fa-question-circle"></i>
                        </a>-->
                    </li></ol></td>
                    <td class="newLine" ng-bind="order.Notes"></td>
                    <!--<td ng-if="order.CanModify" ng-bind="order.StatusTitle"></td>-->
                    <!--<td ng-if="!order.CanModify"><a href="client/orders/{{order.Id}}" ng-bind="order.StatusTitle"></a></td>-->
                </tr>
            </table>
        </div>
    </div>








    <div class="row" ng-if="orderIndex!==false">
        <a href="estimator/tenders" class="pull-right"><span class="fa fa-list"></span> Вернуться к списку тендеров</a>
        <p>Статус: <b ng-bind="orders[orderIndex].StatusTitle"></b></p>
        <p ng-if="orders[orderIndex].ClosingTime">До окончания: <b><back-timer end="orders[orderIndex].ClosingTime"></back-timer></b></p>
        <!--<p ng-if="!orders[orderIndex].CanSetWinner">До окончания: <b>Завершен</b></p>-->

        <p>&nbsp;</p>
        <h4>Состав</h4>

        <table class="table table-title">
            <tr>
                <th>Наименование издения</th>
                <th>Комплектующие</th>
                <th>Дополнительно</th>
                <th>Лист технического задания</th>
            </tr>
            <tr ng-repeat="item in orders[orderIndex].Products">
                <td>
                    <b ng-bind="item.Title"></b>: <ng-include src="'views/product/windows/param.size.html'"></ng-include>
                    <ng-include src="'views/product/windows/param.title.html'"></ng-include>

                </td>
                <td>
                    <b>Профиль:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.pane.note"></div>
                    <b>Стеклопакет:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.glass.note"></div>
                    <b>Фурнитура:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.furniture.note"></div>
                </td>
                <td class="newLine" ng-bind="item.ObjectData.values.adds.notes"></td>
                <td>
                    <ol><li ng-repeat="file in item.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>
                </td>
            </tr>
        </table>
        <h5><b>Дополнительная информация:</b></h5>
        <div class="newLine" ng-bind="orders[orderIndex].Notes"></div>
    </div>





















    <div class="row" ng-if="orderIndex!==false">




        <div class="col-sm-12">
            <h4>Предложения по заказу</h4>
            <table class="table table-title">
                <tr>
                    <th>Компания<br>Рейтинг</th>
                    <th>Цена</th>
                    <th>Предоплата</th>
                    <th>Срок поставки</th>
                    <th>Гарантия</th>
                </tr>
                <tr ng-repeat-start="proposal in orders[orderIndex].Proposals">
                    <td>
                        <b ng-bind="proposal.UserTitle"></b><br>
                        <uib-rating ng-model="proposal.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating>
                    </td>
                    <td>
                        <a href="#"  data-toggle="collapse" data-target="#op{{proposal.Id}}" ng-bind="proposal.Price"></a>
                    </td>
                    <td ng-bind="proposal.Prepay"></td>
                    <td ng-bind="proposal.Term"></td>
                    <td ng-bind="proposal.Guarantee"></td>
                </tr>

                <tr ng-repeat-end class="collapse fade" id="op{{proposal.Id}}"><td style="border-bottom: 1px solid #666;" colspan="8">
                    Примечение: <i ng-bind="proposal.Note"></i>
                    <table class="table table-bordered">
                        <tr>
                            <!--<th>Код</th>-->
                            <th>Продукция</th>
                            <th>Профиль</th>
                            <th>Стеклопакет</th>
                            <th>Фурнитура</th>
                            <th>Допонительно</th>
                        </tr>
                        <tr ng-repeat="(product_id,pp) in proposal.Products">
                            <!--<td>{{product_id}}</td>-->
                            <td>{{ProductTitle(product_id)}}</td>
                            <td class="newLine">{{pp.Profile}}</td>
                            <td class="newLine">{{pp.Glass}}</td>
                            <td class="newLine">{{pp.Furniture}}</td>
                            <td class="newLine">{{pp.Note}}</td>
                        </tr>
                    </table>
                </td></tr>

            </table>
        </div>
    </div>

    <div class="row" ng-if="orderIndex!==false">
        <div class="col-sm-12">
            <h4>Добавить предложение</h4>
            <hr>

            <div class="form-group">
                <label class="control-label">Выберите поставщика</label>
                <div class="input-group">

                    <ui-select allow-clear  ng-model="sShipper.selected" theme="bootstrap"  title="Выбор клиента">
                        <ui-select-match placeholder="Выберите поставщика">
                            <b ng-bind="$select.selected.Title"></b> &nbsp;&nbsp;&nbsp;&nbsp; Срок: <b ng-bind="$select.selected.Term"></b> Предоп.:<b ng-bind="$select.selected.Prepay"></b> Гарант.:<b ng-bind="$select.selected.Guarantee"></b>&nbsp;&nbsp;&nbsp;&nbsp; <span class="pull-right"><uib-rating ng-model="$select.selected.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating></span>
                        </ui-select-match>
                        <ui-select-choices repeat="shipper in shippers | filter: $select.search">
                            <b ng-bind="shipper.Title"></b>
                            Срок: <b ng-bind="shipper.Term"></b> Предоп.:<b ng-bind="shipper.Prepay"></b> Гарант.:<b ng-bind="shipper.Guarantee"></b>
                            <span class="pull-right"><uib-rating ng-model="shipper.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn"><button ng-click="sShipper.selected = undefined" class="btn btn-default"><span class="fa fa-trash-o"></span></button></span>
                </div>

                <br>
                <br>




                <div ng-if="shipper_id">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="norm_label row" ng-repeat="(idx,product) in orders[orderIndex].Products">
                                <div class="col-md-12 text-shelter">
                                    <h4 ng-bind="product.Title"></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label>Профиль</label><textarea ng-model="proposal.Products[product.Id].Profile" class="form-control" rows="2"></textarea></div>
                                    <div class="form-group"><label>Стеклопакет</label><textarea ng-model="proposal.Products[product.Id].Glass" class="form-control" rows="2"></textarea></div>
                                    <div class="form-group"><label>Фурнитура</label><textarea ng-model="proposal.Products[product.Id].Furniture" class="form-control" rows="2"></textarea></div>
                                </div>
                                <div class="col-md-6 form-group"><label>Дополнительно</label><textarea ng-model="proposal.Products[product.Id].Note" class="form-control" rows="7"></textarea></div>

                        </div>
                        </div>



                        <div class="col-md-6">
                            <table class="table table-dd">
                                <tr><th>Срок поставки</th><td><input class="form-control" ng-model="proposal.Term"></td></tr>
                                <tr><th>Предоплата</th><td><input class="form-control" ng-model="proposal.Prepay"></td></tr>
                                <tr><th>Гарантия</th><td><input class="form-control" ng-model="proposal.Guarantee"></td></tr>
                                <tr><th>Примечение</th><td><textarea  class="form-control" ng-model="proposal.Note" rows="7"></textarea></td></tr>
                                <tr><th>Ваша цена</th><td><input class="form-control" type="number" ng-model="proposal.Price"></td></tr>
                                <tr><td colspan="2" class="text-right"><button class="btn btn-success" ng-disabled="!proposal.Price" ng-click="addProposal()"><i class="fa fa-plus"></i> Добавить предложение</button></td></tr>
                            </table>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
