
<div class="container" ng-controller="UserController" ng-init="message = ''">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{LANG.FORM.AUTH.TITLE}}</h3>

                </div>

                <div class="panel-body" ng-if="!isLogged()">
                    <fieldset>

                        <div class="form-group" ng-show="message!=false">
                            <div class="alert" role="alert" ng-class="{'alert-warning': !isLogged(), 'alert-success': isLogged() }">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">{{LANG.FORM.AUTH.ERROR}}</span>
                                <div ng-bind-html="message|html"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control"  placeholder="{{LANG.FORM.AUTH.LOGIN_PROMPT}}" ng-model="login" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control"  placeholder="{{LANG.FORM.AUTH.PASSWORD_PROMPT}}" ng-model="password" type="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="rememberme"> {{LANG.FORM.AUTH.REMEMBER_ME}}
                            </label>
                        </div>


                        <a  class="btn btn-lg btn-success btn-block" ng-click="doLogin(login,password,rememberme)"> {{LANG.FORM.AUTH.ENTER_BTN}}</a>

                    </fieldset>
                    <div class="form-group">
                        <br>
                        <a class="pull-right" href="form/registration"><span class="fa fa-user-plus"></span> {{LANG.FORM.AUTH.REGISTRATION}} </a>
                    </div>
                </div>
                <div class="panel-body" ng-if="isLogged()">
                    <fieldset>
                        <div class="form-group">
                            {{LANG.FORM.AUTH.YOU}} <b>{{getUser().Name}}</b>
                        </div>
                        <a  class="btn btn-lg btn-success btn-block btn-lg" ng-click="logOut()">{{LANG.FORM.AUTH.EXIT}}</a>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
</div>


