<div class="row"  ng-controller="UserController">
    <div class="col-lg-12">
        <h2>{{LANG.FORM.REG.TITLE}}</h2>
    </div>
    <div class="col-lg-12">
        <form name="regform" ng-submit="registrationUser()" novalidate>


            <table class="table table-dd">

                <tr class="form-group" ng-class="{ 'has-error' : regform.name.$invalid && !regform.name.$pristine}">
                    <th>{{LANG.FORM.REG.NAME.TITLE}}</th>
                    <td>
                        <input type="text" name="name" class="form-control"  ng-required="true" placeholder="{{LANG.FORM.REG.NAME.PROMPT}}" ng-model="user.name"  ng-minlength="2">
                    </td>
                    <td><p ng-show="regform.name.$invalid && !regform.name.$pristine" class="help-block">{{LANG.FORM.REG.NAME.ERROR}}</p></td>
                </tr>


                <tr class="form-group" ng-class="{ 'has-error' : regform.email.$invalid && !regform.email.$pristine }">
                    <th>{{LANG.FORM.REG.EMAIL.TITLE}}</th>
                    <td><input type="email" name="email" class="form-control" ng-required="true" placeholder="{{LANG.FORM.REG.EMAIL.PROMPT}}" ng-model="user.email"> </td>
                    <td class="text-danger"><p ng-show="regform.email.$invalid && !regform.email.$pristine">{{LANG.FORM.REG.EMAIL.ERROR}}</p></td>
                </tr>
<!--

                <tr class="form-group" ng-class="{ 'has-error' : regform.login.$invalid && !regform.name.$pristine }">
                    <th>{{LANG.FORM.REG.LOGIN.TITLE}}</th>
                    <td><input type="text" name="login" class="form-control" ng-required="true" placeholder="{{LANG.FORM.REG.LOGIN.PROMPT}}" ng-model="user.login"  ng-minlength="5"></td>
                    <td class="text-danger">
                        <p ng-show="regform.login.$invalid">{{LANG.FORM.REG.LOGIN.ERROR}}</p>
                    </td>
                </tr>
-->

                <tr class="form-group" ng-class="{ 'has-error' : regform.password.$invalid && !regform.password.$pristine }">
                    <th>{{LANG.FORM.REG.PASSWORD.TITLE}}</th>
                    <td><input type="password" name="password" class="form-control" ng-required="true" placeholder="{{LANG.FORM.REG.PASSWORD.PROMPT}}" ng-model="user.password"  ng-minlength="5"> </td>
                    <td class="text-danger">
                        <p ng-show="regform.password.$invalid && !regform.password.$pristine">{{LANG.FORM.REG.PASSWORD.ERROR}}</p>
                    </td>
                </tr>
                <tr class="form-group" ng-class="{ 'has-error' : user.password2!=user.password  && (!regform.password2.$pristine) }">
                    <th>{{LANG.FORM.REG.PASSWORD2.TITLE}}</th>
                    <td><input type="password" name="password2" class="form-control" ng-required="true" placeholder="{{LANG.FORM.REG.PASSWORD2.PROMPT}}" ng-model="user.password2"> </td>
                    <td class="text-danger">
                        <p ng-show="user.password2!=user.password && !regform.password2.$pristine" class="help-block">{{LANG.FORM.REG.PASSWORD2.ERROR}}</p>
                    </td>
                </tr>
                <!--
                <tr class="form-group">
                    <th></th>
                    <td>
                        <label>
                            <input type="checkbox" name="isCompany" ng-model="user.isCompany">
                            {{LANG.FORM.REG.COMPANY}}
                        </label>
                    </td>

                    <td class="text-danger">
                    </td>
                </tr>
                -->
                <tr class="form-group">
                    <th></th>
                    <td><button type="submit" class="btn btn-primary btn-lg" ng-disabled="regform.$invalid">{{LANG.FORM.REG.BTN}}</button></td>

                </tr>


            </table>
        </form>
    </div>
</div>


