<!-- https://habrahabr.ru/post/198632/  -->
<div class="col-md-4">
    <div ng-if="userID" ng-controller="DataListController" ng-init="init('Users')">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="record in records" role="presentation" ng-class="{'active':params.UserId==record.Id}">
                <a ng-if="record.Id!=userID" href="videochat/{{record.Id}}" ng-click="videochat.setVideoConnection(record.Id)">
                    {{record.Name}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-8">
    <video autoplay></video>
    <hr>
    <div  ng-if="params.UserId">
        <div class="form-group" ng-if="params.UserId">
            <textarea class="form-control" ng-model="videochat.message" placeholder="Введите сообщение..."></textarea>
        </div>
        <div class="form-group text-right" ng-if="params.UserId">
            <button type="button" class="btn btn-success" ng-click="bug.send()">Отправить</button>
        </div>
    </div>


</div>