<h3>{{LANG.CHAT.TITLE}}</h3>
<div class="row" ng-init="init('correspondents')">
    <div class="col-xs-4">
        <div ng-if="userID">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="user in correspondents" role="presentation" ng-class="{'active':correspondent_id==user.Id}">
                    <a href="messages/{{user.Id}}">
                        <span class="badge pull-right" ng-bind="user.Unread"></span>
                        {{user.Name}}

                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-8" ng-if="userID">
        <div ng-if="!!correspondent_id" ng-controller="MessagesController" ng-init="init('user')">

            <div ng-repeat="message in messages">

                <div class="alert alert-success text-right" ng-if="message.SenderId==userID">
                    <span>{{LANG.CHAT.FROM}}</span> <b ng-bind="message.Title"></b><br>
                    {{message.Text}}<br>
                    <!--<a ng-click="replyMessage(message.SenderId,message.Id)">{{LANG.CHAT.RESPONSE}}</a>-->
                </div>
                <div class="alert alert-info text-left" ng-if="message.ReceiverId==userID">
                    <span>{{LANG.CHAT.TOME}}</span> <b ng-bind="message.Title"></b><br>
                    {{message.Text}}<br>
                    <!--<a ng-click="replyMessage(message.SenderId,message.Id)">{{LANG.CHAT.RESPONSE}}</a>-->
                </div>
            </div>

            <div ng-if="messages.length==0" class="alert alert-danger">
                <h4>{{LANG.CHAT.NO_MESSAGES}}</h4>
            </div>


            <div>
                <div class="form-group">
                    <label>{{LANG.CHAT.MESSAGE_TITLE}}</label>
                    <input ng-model="message.Title" class="form-control">
                </div>

                <div class="form-group">
                    <label>{{LANG.CHAT.BODY_TITLE}}</label>
                    <textarea ng-model="message.Text" class="form-control"></textarea>
                </div>
                <div class="form-group text-right">
                    <a class="btn btn-success" ng-click="send()">{{LANG.CHAT.SEND}}</a>
                </div>
            </div>
        </div>
        <div ng-if="!correspondent_id">
            <div class="alert alert-danger">
                {{LANG.CHAT.CHOICE_USER}}
            </div>
        </div>
    </div>
</div>

