<!--<li class="dropdown"  ng-controller="MessagesController" ng-if="userID" ng-init="init('last')">-->
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i></a>
    <ul class="dropdown-menu dropdown-messages">
        <li ng-repeat-start="message in messages">
            <a href="#">
                <div>
                    <strong>{{message.SenderName}}</strong>
                    <span class="pull-right text-muted text-nowrap"><em>{{message.Created | msdate}}</em></span>
                </div>
                <div>{{message.Text}}</div>
            </a>
        </li>
        <li ng-repeat-end class="divider"></li>
        <li>
            <a href="messages"><span class="fa fa-envelope-o"></span> {{LANG.HEADER.MESSAGES}}</a>
        </li>
    </ul>
<!--</li>-->
