<div ng-if="(currentRole=='consultant' || currentRole=='manager')  && userID">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-phone text-primary"></span> Заказы обратных звонков для клиентов</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>Код</th>
                    <th>Время поступления заказа</th>
                    <th>Телефон</th>
                    <th>Время звонка</th>
                    <th>Клиент</th>
                </tr>
                <tr ng-repeat="callback in callbacks">
                    <td ng-bind="callback.Id"></td>
                    <td ng-bind="callback.Created | msdate"></td>
                    <td ng-bind="callback.Phone | tel"></td>
                    <td ng-bind="callback.Time"></td>
                    <td>
                        <span ng-bind="callback.UserName"></span>
                        <a ng-if="callback.UserId" href="messages/{{callback.UserId}}" title="Написать сообщение"> <i class="fa fa-envelope-o"></i></a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>







