<div ng-if="currentRole=='consultant' || currentRole=='manager'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-building text-primary"></span> Клиенты</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
            <label class="control-label">Выберите клиента</label>
                <div class="input-group">
                    <ui-select allow-clear  ng-model="sClient.selected" theme="bootstrap"  title="Выбор клиента">
                        <ui-select-match placeholder="Выберите клиента">{{$select.selected.LastName}} {{$select.selected.FirstName}} {{$select.selected.MiddleName}}</ui-select-match>
                        <ui-select-choices repeat="client in clients | filter: $select.search">
                            <b ng-bind="client.LastName"></b>
                            {{client.FirstName}} {{client.MiddleName}}, <i ng-bind="client.Address"></i>, <i ng-bind="client.Email"></i>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <a ng-if="sClient.selected != undefined" title="Написать клиенту" href="messages/{{client_id}}" class="btn btn-info"><span class="fa fa-envelope-o"></span></a>
                        <button ng-click="sClient.selected = undefined" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                    </span>
                </div>


            </div>


            <div  ng-if="clientIndex!==false || createClient===true">

                <h3 class="pull-right">
                    <a href="messages/{{clients[clientIndex].Id}}"><span class="fa fa-envelope-o"></span> Написать клиенту</a>
                </h3>

                <form name="profile" ng-submit="SaveProfile(profile)" novalidate>
                    <table class="table table-dd">

                        <tr class="form-group" ng-class="{ 'has-error' : profile.LastName.$invalid && !profile.LastName.$pristine}">
                            <th>Фамилия</th>
                            <td>
                                <input ng-init="setProfile(profile)" type="text" name="LastName" class="form-control"  ng-model="clients[clientIndex].LastName"  required>
                            </td>
                            <td><p ng-show="profile.LastName.$invalid && !profile.LastName.$pristine" class="help-block">Введите фамилию</p></td>
                        </tr>

                        <tr class="form-group" ng-class="{ 'has-error' : profile.FirstName.$invalid && !profile.FirstName.$pristine}">
                            <th>Имя</th>
                            <td>
                                <input type="text" name="FirstName" class="form-control"  ng-model="clients[clientIndex].FirstName"  required>
                            </td>
                            <td><p ng-show="profile.FirstName.$invalid && !profile.FirstName.$pristine" class="help-block">Введите имя</p></td>
                        </tr>

                        <tr class="form-group" ng-class="{ 'has-error' : profile.MiddleName.$invalid && !profile.MiddleName.$pristine}">
                            <th>Отчество</th>
                            <td>
                                <input type="text" name="MiddleName" class="form-control"  ng-model="clients[clientIndex].MiddleName">
                            </td>
                            <td><p ng-show="profile.MiddleName.$invalid && !profile.MiddleName.$pristine" class="help-block">Введите отчество</p></td>
                        </tr>

                        <tr class="form-group" ng-class="{ 'has-error' : profile.Email.$invalid && !profile.Email.$pristine}">
                            <th>Электронная почта</th>
                            <td>
                                <input type="email" name="Email" class="form-control"  ng-model="clients[clientIndex].Email"  required>
                            </td>
                            <td><p ng-show="profile.Email.$invalid && !profile.Email.$pristine" class="help-block">Введите адрес электронной почты</p></td>
                        </tr>

                        <tr class="form-group" ng-class="{ 'has-error' : profile.Address.$invalid && !profile.Address.$pristine}">
                            <th>Адрес</th>
                            <td>
                                <textarea type="text" name="Address" class="form-control"  ng-model="clients[clientIndex].Address"></textarea>
                            </td>
                            <td><p ng-show="profile.Address.$invalid && !profile.Address.$pristine" class="help-block">Введите адрес</p></td>
                        </tr>


                        <tr class="form-group" ng-class="{ 'has-error' : profile.PhoneNumber.$invalid && !profile.PhoneNumber.$pristine}">
                            <th>Телефон</th>
                            <td>
                                <input type="text" name="PhoneNumber" class="form-control"  ng-model="clients[clientIndex].PhoneNumber"  ui-mask="+7 (999) 999-99-99" >
                            </td>
                            <td><p ng-show="profile.PhoneNumber.$invalid && !profile.PhoneNumber.$pristine" class="help-block">Введите телефон</p></td>
                        </tr>


                        <tr class="form-group" ng-class="{ 'has-error' : profile.Balance.$invalid && !profile.Balance.$pristine}">
                            <th>Баланс, рублей</th>
                            <td>
                                <input type="number" name="Balance" class="form-control"  ng-model="clients[clientIndex].Balance"  required>
                            </td>
                            <td><p ng-show="profile.Balance.$invalid && !profile.Balance.$pristine" class="help-block">Введите балланс</p></td>
                        </tr>

                        <tr ng-if="!profile.$pristine">
                            <td><a class="btn btn-default" ng-click="Cancel(profile)"><span class="fa fa-backward"></span> Отменить изменения</a> </td>
                            <td class="text-right"><input ng-disabled="profile.$invalid" type="submit" class="btn btn-primary" value="Сохранить" ng-disabled="profile.$invalid"></td>
                            <td></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>
