<div ng-if="currentRole=='consultant' || currentRole=='manager'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-users text-primary"></span> Заказы</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Выберите клиента</label>
                <div class="input-group" ng-if="clients">
                    <ui-select allow-clear  ng-model="sClient.selected" theme="bootstrap"  title="Выбор клиента">
                        <ui-select-match placeholder="Выберите клиента">{{$select.selected.LastName}} {{$select.selected.FirstName}} {{$select.selected.MiddleName}}</ui-select-match>
                        <ui-select-choices repeat="client in clients | filter: $select.search">
                            <b ng-bind="client.LastName"></b>
                            {{client.FirstName}} {{client.MiddleName}}, <i ng-bind="client.Address"></i>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <a ng-if="sClient.selected != undefined" title="Написать клиенту" href="messages/{{client_id}}" class="btn btn-info"><span class="fa fa-envelope-o"></span></a>
                        <button ng-click="sClient.selected = undefined" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                    </span>
                </div>


            </div>
        </div>
    </div>
    <div class="row" ng-if="client_id">
        <div class="col-lg-12">
            <button ng-if_="!order_id" ng-click="newOrder()" class="btn btn-info pull-right"><span class="fa fa-plus"></span> Добавить заказ</button>
            <h3>Заказы клиента</h3>
            <div class="clearfix"></div>
            <table class="table table-responsive">
                <tr>
                    <th>Код</th>
                    <th>Дата</th>
                    <th>Состав</th>
                    <th>Статус</th>
                    <th>Примечение</th>

                </tr>
                <tr ng-repeat="(index,order) in orders" ng-class="{'bg-primary':order_id==order.Id}"  ng-click="setOrder(order.Id)" style="cursor: pointer">
                    <td ng-bind="order.Code"></td>
                    <td ng-bind="order.Date | msdate"></td>

                    <td><ol><li ng-repeat="product in order.Products">{{product.Title}}</li></ol></td>

                    <td ng-bind="order.StatusTitle"></td>
                    <td class="newLine" ng-bind="order.Notes"></td>
                </tr>
            </table>



            <div class="pull-right">
                <div ng-if="order_id!==false"class="btn-group" role="group">
                    <button ng-repeat="action in orders[orderIndex].PossibleActions" class="btn btn-{{action.Type}}" ng-click="doAction(action.Rest,orders[orderIndex].Id)">{{action.Title}}</button>
                </div>
            </div>
            <div class="clearfix"></div>



        </div>
    </div>

    <div class="row" ng-if="order_id && currentRole=='manager'">
        <div class="col-lg-12">
            <h4>Оценка работы за клиента</h4>
            <client-rating name="company" title="Оцените работу по заказу" params="{OrderId:order_id}"></client-rating>
            <client-rating name="service" title="Оцените работу сервиса" params="{UserId:orders[orderIndex].UserId}"></client-rating>
            <client-rating name="consultant" title="Оцените работу консультанта" params="{UserId:orders[orderIndex].UserId}"></client-rating>
            <hr>
        </div>
    </div>


    <div class="row" ng-if="order_id">
        <div class="col-lg-12">


            <i>Примечание к заказу</i>
            <div class="input-group">
                <textarea class="form-control custom-control" rows="3" style="resize:none" ng-model="orders[orderIndex].Notes"></textarea>
                <span class="input-group-addon btn btn-primary" ng-click="saveOrderNote()" title="Сохранить заметку о заказе"><i class="fa fa-floppy-o"></i></span>
            </div>



            <h3>Подробности заказа</h3>
            <table class="table table-title">
                <tr>
                    <th></th>
                    <th>Наименование издения</th>
                    <th>Комплектующие</th>
                    <th>Дополнительно</th>
                    <th>Лист технического задания</th>
                </tr>
                <tr class="anim" ng-repeat="item in orders[orderIndex].Products" ng-class="{'bg-primary':product_id==item.Id}"  ng-click="setProduct(item.Id)" style="cursor: pointer">
                    <td class="win-preview" width="128">
                        <ng-include src="'views/product/windows/param.img.html'"></ng-include>
                    </td>
                    <td>
                        <b ng-bind="item.Title"></b>: <ng-include src="'views/product/windows/param.size.html'"></ng-include>
                        <ng-include src="'views/product/windows/param.title.html'"></ng-include>

                    </td>
                    <td>
                        <b>Профиль:</b>
                        <div class="newLine" ng-bind="item.ObjectData.values.pane.note"></div>
                        <b>Стеклопакет:</b>
                        <div class="newLine" ng-bind="item.ObjectData.values.glass.note"></div>
                        <b>Фурнитура:</b>
                        <div class="newLine" ng-bind="item.ObjectData.values.furniture.note"></div>
                    </td>
                    <td class="newLine" ng-bind="item.ObjectData.values.adds.notes"></td>
                    <td>
                        <ol><li ng-repeat="file in item.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>
                    </td>
                </tr>
            </table>




        </div>
    </div>

    <div ng-if="orderIndex!==false && orders[orderIndex].CanModify" ng-controller="ProductWindowsMasterController">
        <div  ng-if="product_id!==false || productNew">
            <button ng-if="!productNew" class="btn btn-danger pull-right" ng-click="deleteProduct()"><i class="fa fa-remove"></i> Удалить продукт #{{orders[orderIndex].Products[productIndex].Id}}</button>
            <div class="clearfix"></div>
            <hr>
            <ng-include src="'views/product/windows/master.html'"></ng-include>
        </div>
        <div ng-if="(product_id===false) && order_id">
            <button class="btn btn-primary pull-right" ng-click="newProduct()"><i class="fa fa-plus"></i> Добавить к заказу продукт</button>
        </div>
    </div>
</div>