<div ng-if="currentRole=='consultant' ||  currentRole=='manager'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-briefcase text-primary"></span> Тендеры</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Выберите клиента</label>
                <div class="input-group" ng-if="clients">
                    <ui-select allow-clear  ng-model="sClient.selected" theme="bootstrap"  title="Выбор клиента">
                        <ui-select-match placeholder="Выберите клиента">{{$select.selected.LastName}} {{$select.selected.FirstName}} {{$select.selected.MiddleName}}</ui-select-match>
                        <ui-select-choices repeat="client in clients | filter: $select.search">
                            <b ng-bind="client.LastName"></b>
                            {{client.FirstName}} {{client.MiddleName}}, <i ng-bind="client.Address"></i>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <a ng-if="sClient.selected != undefined" title="Написать клиенту" href="messages/{{client_id}}" class="btn btn-info"><span class="fa fa-envelope-o"></span></a>
                        <button ng-click="sClient.selected = undefined" class="btn btn-default"><span class="fa fa-trash-o"></span></button>
                    </span>
                </div>


            </div>
        </div>
    </div>


    <div class="row" ng-if="order_id===false && client_id!==false">
        <div class="col-lg-12">
            <h4>Заказы на тендере:</h4>
            <table class="table table-responsive">
                <tr>
                    <th>Код</th>
                    <th>Дата</th>
                    <th>До окончания</th>
                    <th>Состав</th>
                    <th>Примечание</th>
                </tr>
                <tr ng-repeat="(index,order) in orders" class="hovered" ng-click="goOrder(order.Id)">
                    <td ng-bind="order.Code"></td>
                    <td ng-bind="order.Date | msdate"></td>
                    <td><div class="back-timer"> <back-timer end="order.ClosingTime"></back-timer></div></td>
                    <td><ol><li ng-repeat="product in order.Products">{{product.Title}}</li></ol></td>
                    <td class="newLine" ng-bind="order.Notes"></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row" ng-if="order_id">
        <a href="consultant/tenders/{{clientIndex}}" class="pull-right"><span class="fa fa-list"></span> Вернуться к списку тендеров</a>
        <p>Статус: <b ng-bind="order.StatusTitle"></b></p>
        <p ng-if="order.ClosingTime">До окончания: <b><back-timer end="order.ClosingTime"></back-timer></b></p>
        <!--<p ng-if="!order.CanSetWinner">До окончания: <b>Завершен</b></p>-->

        <p>&nbsp;</p>
        <h4>Состав</h4>

        <table class="table table-title">
            <tr>
                <th>Наименование издения</th>
                <th>Комплектующие</th>
                <th>Дополнительно</th>
                <th>Лист технического задания</th>
            </tr>
            <tr ng-repeat="item in order.Products">
                <td>
                    <b ng-bind="item.Title"></b>: <ng-include src="'views/product/windows/param.size.html'"></ng-include>
                    <ng-include src="'views/product/windows/param.title.html'"></ng-include>

                </td>
                <td>
                    <b>Профиль:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.pane.note"></div>
                    <b>Стеклопакет:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.glass.note"></div>
                    <b>Фурнитура:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.furniture.note"></div>
                </td>
                <td class="newLine" ng-bind="item.ObjectData.values.adds.notes"></td>
                <td>
                    <ol><li ng-repeat="file in item.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>
                </td>
            </tr>
        </table>
        <h5><b>Дополнительная информация:</b></h5>
        <div class="newLine" ng-bind="order.Notes"></div>
    </div>







    <div class="row" ng-if="order_id!=false">




        <div class="col-sm-12">
            <h4>Предложения по заказу</h4>
            <table class="table table-title">
                <tr>
                    <th>Компания<br>Рейтинг</th>
                    <th>Цена</th>
                    <th>Предоплата</th>
                    <th>Срок поставки</th>
                    <th>Гарантия</th>
                </tr>
                <tr ng-repeat-start="proposal in order.Proposals">
                    <td>
                        <b ng-bind="proposal.UserTitle"></b><br>
                        <uib-rating ng-model="proposal.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating>
                    </td>
                    <td>
                        <a href="#"  data-toggle="collapse" data-target="#op{{proposal.Id}}" ng-bind="proposal.Price"></a>
                    </td>
                    <td ng-bind="proposal.Prepay"></td>
                    <td ng-bind="proposal.Term"></td>
                    <td ng-bind="proposal.Guarantee"></td>
                </tr>

                <tr ng-repeat-end class="collapse fade" id="op{{proposal.Id}}"><td style="border-bottom: 1px solid #666;" colspan="8">
                    Примечение: <i ng-bind="proposal.Note"></i>
                    <table class="table table-bordered">
                        <tr>
                            <!--<th>Код</th>-->
                            <th>Наименование издения</th>
                            <th>Профиль</th>
                            <th>Стеклопакет</th>
                            <th>Фурнитура</th>
                            <th>Допонительно</th>
                        </tr>
                        <tr ng-repeat="(product_id,pp) in proposal.Products">
                            <!--<td>{{product_id}}</td>-->
                            <td>{{ProductTitle(product_id)}}</td>
                            <td class="newLine">{{pp.Profile}}</td>
                            <td class="newLine">{{pp.Glass}}</td>
                            <td class="newLine">{{pp.Furniture}}</td>
                            <td class="newLine">{{pp.Note}}</td>
                        </tr>
                    </table>
                </td></tr>

            </table>
        </div>
    </div>
    
    
    
    
    
    
    
</div>