<div ng-if="(currentRole=='consultant' || currentRole=='manager') && userID">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-black-tie text-primary"></span> Заказы визита консультанта для клиентов</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table ">
                <tr>
                    <th>Код</th>
                    <th>Время поступления заказа</th>
                    <th>Дата</th>
                    <th>Время визита</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Клиент</th>
                    <th></th>
                </tr>
                <tr ng-repeat="visit in visits" ng-class="{'bg-success':isPast(visit)}">
                    <td ng-bind="visit.Id"></td>
                    <td ng-bind="visit.Created | msdate"></td>
                    <td ng-bind="visit.Date  | msdate"></td>
                    <td ng-bind="visit.Times"></td>
                    <td ng-bind="visit.Address"></td>
                    <td ng-bind="visit.Phone"></td>
                    <td ng-if="visit.UserId">
                        <span ng-bind="visit.UserName"></span>
                        <a href="messages/{{visit.UserId}}" title="Написать сообщение"> <i class="fa fa-envelope-o"></i></a>
                    </td>
                    <td ng-if="!visit.UserId">
                        Не авторизован
                    </td>
                    <td ng-if="visit.Cancelled" class="text-danger">ОТМЕНЕН <span ng-bind="visit.Cancelled  | msdate"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
