<!--<input class="form-control" ng-disabled="field.isPreset" ng-model="record[field.Name]" placeholder="{{field.Title}}...">-->
<span class="input-group">
    <input type="text" class="form-control"
           uib-datepicker-popup="dd.MM.yyyy HH:mm"
           ng-model="js_record[field.Name]"
           is-open="opened"
           ng-disabled="field.isPreset"
           min-date="minDate"
           max-date="maxDate"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           ng-required="true"
           close-text="Закрыть"
           clear-text="Очистить"
           current-text="Текущая дата"/>
                <!--<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button></span>-->
    <!--<uib-timepicker  class="input-group-btn" show-spinners="false" ng-model="record[field.Name]|mstojavatime" show-meridian="ismeridian"></uib-timepicker>-->
    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="opened = true;"><i class="glyphicon glyphicon-calendar"></i></button></span>
</span>
