<input class="form-control" ng-disabled="field.isPreset" ng-model="record[field.Name]" placeholder="{{field.Title}}...">

<a href="{{record[field.Name]}}" class="thumbnail" style3="max-width: 100px">
    <img src="{{record[field.Name]}}" alt="">
</a>

