<!--
<div ng-if="record">
{{record[field.Name]}}
<label ng-repeat="item in selectOptions[field.Name] | notnull">
    <input type="checkbox" ng-checked="isChecked(item.Id,field.Name)" ng-click="toggleChecked(item.Id,field.Name)"> {{item.Title}}
</label>
</div>


<div class="check_select" ng-if="record.ProductWindowGlazingTypeId">
    {{record[field.Name]}}
        <label ng-repeat="item in selectOptions[field.Name] | notnull">
            <input type="checkbox" checklist-model="record.ProductWindowGlazingTypeId" checklist-value="item.Id"> {{item}} {{item.Title}}
        </label>
</div>

-->

<select class="form-control"  placeholder="{{field.Title}}..."
        multiple
        ng-model="record[field.Name]"
        ng-disabled="field.isPreset"
        ng-options="item.Id as item.Title for item in selectOptions[field.Name]| notnull">
</select>

