<div ng-if="currentRole=='client' || currentRole=='guest'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-phone text-primary"></span> Заказать звонок консультанта</h1>
        </div>
    </div>



    <div class="row" ng-if="!current.Phone">
        <div class="col-lg-12">
            <form name="callback" ng-submit="OrderCallback(Phone,Time)" novalidate>
                <table class="table table-dd">

                    <tr class="form-group" ng-class="{ 'has-error' : callback.Phone.$invalid && !callback.Phone.$pristine}">
                        <th>Телефон</th>
                        <td>
                            <input type="text" name="Phone" class="form-control"  placeholder2="Введите номер телефона" ng-model="Phone"  ui-mask="+7 (999) 999-99-99" required>
                        </td>
                        <td><p ng-show="callback.Phone.$invalid && !callback.Phone.$pristine" class="help-block">Неверный формат телефона</p></td>
                    </tr>


                    <tr class="form-group" ng-class="{ 'has-error' : callback.time.$invalid && !callback.time.$pristine}">
                        <th>Время звонка</th>
                        <td>
                            <input type="text" name="Time" class="form-control"  ng-required="false" placeholder="Время звонка (пусто-любое)" ng-model="Time">
                        </td>
                        <!--<td><p ng-show="callback.time.$invalid && !callback.time.$pristine" class="help-block"></p></td>-->
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-primary btn-lg" value="Заказать" ng-disabled="callback.$invalid"></td>
                    </tr>
                </table>

            </form>

        </div>
    </div>


    <div class="row" ng-if="current.Phone">
        <div class="col-lg-12">
            <div class="alert alert-info">
                Благодарим Вас за заказ звонка! Наш консультант перезвонит Вам по телефону <b ng-bind="current.Phone | tel"></b>
                <!--
                <h3>Звонок уже заказан</h3>
                <p>На номер <b ng-bind="current.Phone"></b></p>
                <p ng-if="!current.Time">На любое время</p>
                <p ng-if="current.Time">На время <b ng-bind="current.Time"></b></p>
                -->
            </div>
            <hr />
            <div class="pull-right hidden">
                <p>Вам перезвонили? </p>
                <button class="btn btn-danger" ng-click=""><span class="fa fa-close"></span> Нет</button>
                <button class="btn btn-success" ng-click=""><span class="fa fa-check"></span> Да</button>
            </div>
        </div>
    </div>
</div>