<div ng-if="currentRole=='client' || currentRole=='manager' || currentRole=='guest'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-black-tie text-primary"></span> Заказать визит консультанта</h1>
        </div>
    </div>


    <div class="row" ng-if="(!current.Date) && variant.length">
        <div class="col-sm-6">
            <h4>Выберите дату:</h4>
            <uib-datepicker ng-model="choise.datestamp" min-date="minDate" max-date="maxDate" custom-class="getMarked(date, mode)" ng-click="selectDay()"></uib-datepicker>
        </div>
        <div class="col-sm-6"ng-if="choise.Date">
            <h4>Выберите время:</h4>
            <div class="btn-group-vertical" role="group" aria-label="">
                <button ng-repeat="times in choise.Variants" type="button" class="btn btn-default" ng-class="{'btn-success':times==choise.Times}" ng-click="choise.Times=times">{{times}}</button>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!current.Date">

        <div class="col-lg-8">
            <form name="visit" ng-submit="OrderConsultantVisit(choise.Date, choise.Times, choise.Phone, choise.Address)" novalidate>
                <table class="table table-responsive">
                    <tr class="form-group" ng-class="{ 'has-error' : visit.Phone.$invalid && !visit.Phone.$pristine}">
                        <th class="text-right">Телефон</th>
                        <td>
                            <input type="text" name="Phone" class="form-control"  placeholder2="Введите номер телефона" ng-model="choise.Phone"  ui-mask="+7 (999) 999-99-99" required>
                        </td>
                        <td><p ng-show="visit.Phone.$invalid && !visit.Phone.$pristine" class="help-block">Неверный формат телефона</p></td>
                    </tr>

                    <tr class="form-group" ng-class="{ 'has-error' : visit.Address.$invalid && !visit.Address.$pristine}">
                        <th class="text-right">Адрес</th>
                        <td>
                            <textarea type="text" name="Address" class="form-control"  ng-model="choise.Address"  required></textarea>
                        </td>
                        <td><p ng-show="visit.Address.$invalid && !visit.Address.$pristine" class="help-block">Введите адрес</p></td>
                    </tr>

                </table>
            <hr>
            <!--Дата: <b ng-bind="choise.Date"></b>, Время: <b ng-bind="choise.Times"></b> -->
            <button class="btn btn-success" ng-disabled="!choise.Date || !choise.Times || visit.$invalid">
                <span class="fa fa-black-tie"></span> Заказать <b ng-bind="choise.Date"></b> <b ng-bind="choise.Times"></b>
            </button>
          </form>
        </div>
    </div>

    <div class="row" ng-if="current.Date">
        <div class="panel panel-success">
            <div class="panel-heading">Консультант заказан на</div>
            <div class="panel-body">
                Дата: <b ng-bind="current.Date | msdate"></b><br>
                Время: <b ng-bind="current.Times"></b><br>
                Телефон: <b ng-bind="current.Phone | tel"></b><br>
                Адрес: <b ng-bind="current.Address"></b>
                <button class="btn btn-default btn-lg pull-right" ng-click="CancelVisit()"><span class="fa fa-close"></span> Отменить</button>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>