<div ng-if="currentRole=='client'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-shopping-bag text-primary"></span> Заказы</h1>
        </div>
    </div>

    <div class="row" ng-if="orderIndex===false">
        <div class="col-lg-12">
            <table class="table table-responsive">
                <tr>
                    <th>Дата</th>
                    <th>Состав</th>
                    <th>Примечание</th>
                    <th>Статус</th>
                </tr>
                <tr ng-repeat="(index,order) in orders" class="hovered" ng-click="goOrder(order.Id)">
                    <td ng-bind="order.Date | msdate"></td>
                    <td><ol><li ng-repeat="product in order.Products">{{product.Title}}</li></ol></td>
                    <td class="newLine" ng-bind="order.Notes"></td>
                    <td>
                        <span ng-bind="order.StatusTitle"></span>
                        <div ng-if="order.ClosingTime">До окончания <back-timer end="order.ClosingTime"></back-timer></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>




    <div class="row" ng-if="orderIndex!==false">
        <a href="client/orders" class="pull-right"><span class="fa fa-list"></span> Вернуться к списку заказов</a>
        <p>Статус: <b ng-bind="orders[orderIndex].StatusTitle"></b></p>
        <p ng-if="orders[orderIndex].ClosingTime">До окончания: <b><back-timer end="orders[orderIndex].ClosingTime"></back-timer></b></p>
        <p>&nbsp;</p>
        <h4>Состав</h4>

        <table class="table table-title">
            <tr>
                <th></th>
                <th>Наименование издения</th>
                <th>Комплектующие</th>
                <th>Дополнительно</th>
                <th>Лист технического задания</th>
            </tr>
            <tr ng-repeat="item in orders[orderIndex].Products">
                <td class="win-preview" width="128">
                    <ng-include src="'views/product/windows/param.img.html'"></ng-include>
                </td>
                <td>
                    <b ng-bind="item.Title"></b>: <ng-include src="'views/product/windows/param.size.html'"></ng-include>
                    <ng-include src="'views/product/windows/param.title.html'"></ng-include>

                </td>
                <td>
                    <b>Профиль:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.pane.note"></div>
                    <b>Стеклопакет:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.glass.note"></div>
                    <b>Фурнитура:</b>
                    <div class="newLine" ng-bind="item.ObjectData.values.furniture.note"></div>
                </td>
                <td class="newLine" ng-bind="item.ObjectData.values.adds.notes"></td>
                <td>
                    <ol><li ng-repeat="file in item.ObjectData.values.adds.files"><a href="{{file.fileref}}" target="_blank">{{file.name}}</a></li></ol>
                </td>
            </tr>
        </table>
        <h5><b>Дополнительная информация:</b></h5>
        <div class="newLine" ng-bind="orders[orderIndex].Notes"></div>


        <hr>

        <div ng-if="!orders[orderIndex].CanModify" style="margin-bottom: 30px">
        <h4>Предложения по заказу</h4>
        <table class="table table-responsive">
            <tr>
                <th>Компания<br>Рейтинг</th>
                <th>Цена</th>
                <th>Предоплата</th>
                <th>Срок поставки</th>
                <th>Гарантия</th>

                <th></th>
            </tr>
            <tr ng-repeat-start="proposal in orders[orderIndex].Proposals">
                <td>
                    <b ng-bind="proposal.UserTitle"></b>
                    <i class="fa fa-check"></i>
                    <br>
                    <uib-rating ng-model="proposal.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating>
                </td>
                <td>
                    <a href="#"  data-toggle="collapse" data-target="#op{{proposal.Id}}" ng-bind="proposal.Price"></a>
                </td>
                <td ng-bind="proposal.Prepay"></td>
                <td ng-bind="proposal.Term"></td>
                <td ng-bind="proposal.Guarantee"></td>

                <td>

                    <button ng-if="orders[orderIndex].CanSetWinner" class="btn btn-success" data-toggle="modal" data-target="#setWinnerConfirm" ng-click ="setProposalForConfirming(proposal)"><span class="fa fa-star"></span> Назначить победителем</button>
                    <span ng-if="proposal.IsWinner" class="fa fa-star"></span>
                    <a ng-if="proposal.IsWinner" href="messages/{{proposal.UserId}}"><span class="fa fa-envelope-o"></span> Написать победителю</a>
                </td>
            </tr>
            <tr ng-repeat-end class="collapse fade" id="op{{proposal.Id}}"><td style="border-bottom: 1px solid #666;" colspan="8">
                Примечение: <i ng-bind="proposal.Note"></i>
                <table class="table table-bordered">
                    <tr>
                        <!--<th>Код</th>-->
                        <th>Наименование издения</th>
                        <th>Профиль</th>
                        <th>Стеклопакет</th>
                        <th>Фурнитура</th>
                        <th>Допонительно</th>
                    </tr>
                    <tr ng-repeat="(product_id,pp) in proposal.Products">
                        <!--<td>{{product_id}}</td>-->
                        <td>{{ProductTitle(product_id)}}</td>
                        <td class="newLine">{{pp.Profile}}</td>
                        <td class="newLine">{{pp.Glass}}</td>
                        <td class="newLine">{{pp.Furniture}}</td>
                        <td class="newLine">{{pp.Note}}</td>
                    </tr>
                </table>
            </td></tr>
        </table>

        <div class="pull-right">
            <div ng-if="order_id!==false"class="btn-group" role="group">
                <button ng-repeat="action in orders[orderIndex].PossibleActions" class="btn btn-{{action.Type}}" ng-click="doAction(action.Rest,orders[orderIndex].Id)">{{action.Title}}</button>
            </div>
        </div>

        <a ng-if="getUser().ConsultantId" class="btn btn-default"
           href="messages/{{getUser().ConsultantId}}">
            <span class="fa fa-envelope-o"></span>
            Написать консультанту
        </a>

        </div>


    </div>













    <!-- Modal -->
    <div class="modal fade" id="setWinnerConfirm" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Завершение тендера и выбор победителя</h4>
                </div>
                <div class="modal-body">
                    <div>
                        Благодарим за использование сервиса! Выбранный Вами поставщик {{proposalForConfirming.UserTitle}} готов выполнить Ваш заказ №{{orders[orderIndex].Code}} на условиях:
                        <ul>
                            <li>Цена - {{proposalForConfirming.Price}}</li>
                            <li>Предоплата - {{proposalForConfirming.Prepay}}</li>
                            <li>Срок поставки - {{proposalForConfirming.Term}}</li>
                            <li>Гарантия - {{proposalForConfirming.Guarantee}}</li>
                        </ul>
                    </div>
                    <div>Для соблюдения условий выполнения и начала производства Вашего заказа, необходимо посетить офис Шелтр (г. Воронеж, Проспект Труда, д. 65, подъезд 7, тел. +7(473) 203-02-32, info@sheltr.ru) в течении 2 дней.</div>
                    <div>Подтверждаете ли Вы согласие с условиями выполнения Вашего заказа?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" ng-click="setWinner(proposalForConfirming.Id)">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>

</div>
