<div ng-if="currentRole=='client'">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-building text-primary"></span> Поставщики</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <th>Название</th>
                    <th>Текущий срок поставки</th>
                    <th>Текущий гарантийный срок</th>
                    <th>Текущая предоплата в процентах</th>
                    <th>Рейтинг</th>
                </tr>
                <tr ng-repeat="sup in suppliers">
                    <td ng-bind="sup.Title"></td>
                    <td ng-bind="sup.Term"></td>
                    <td ng-bind="sup.Guarantee"></td>
                    <td ng-bind="sup.Prepay"></td>
                    <td style="white-space: nowrap">
                        <uib-rating ng-model="sup.Rating" max="5" readonly="true" titles="['Плохо','Удовлетворительно','Хорошо','Очень хорошо','Отлично']" aria-labelledby="default-rating"></uib-rating>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>