<ul class="nav navbar-nav navbar-right" ng-if="!isLogged()">
    <li><a href="./form/registration">{{LANG.HEADER.REGISTRATION}}</a></li>
    <li><a href="./form/authorization">{{LANG.HEADER.AUTHORIZATION}}</a></li>
</ul>






<ul class="nav navbar-nav navbar-right">
    <li  ng-if="isLogged()">
        <a>{{getUser().Name}} : </a>
    </li>

    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{LANG.ROLE_NAMES[currentRole]}}&nbsp;
            <span class="fa fa-{{role_picto[currentRole]}}"></span>&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="role in getRoles()" ng-class="{'active':role==currentRole}"><a href="#" ng-click="setRole(role)"><span class="fa fa-{{role_picto[role]}}"></span> {{LANG.ROLE_NAMES[role]}}</a></li>
        </ul>
    </li>
    <li  ng-if="isLogged()">
        <button type="submit" class="btn btn-link navbar-btn navbar-link" ng-click="logOut()" >{{LANG.HEADER.EXIT}}</button>
    </li>

</ul>



