<ul class="nav navbar-nav" ng-init2="initTable='Tables'">
    <li ng-if="userID && (currentRole=='customer' || currentRole=='company')"><a href="orders"> <span class="glyphicon glyphicon-signal"></span> {{LANG.HEADER.ORDERS}}</a></li>
    <li ng-if="userID && currentRole=='company'"><a href="tenders"> <span class="fa fa-calendar"></span> {{LANG.HEADER.TENDERS}}</a></li>

    <li ng-if="userID"><a href="messages"> <span class="fa fa-envelope"></span> {{LANG.HEADER.MESSAGES}}</a></li>
    <li ng-if="userID"><a href="product/windows"> <span class="fa fa-windows"></span> Окна</a></li>

    <li class="dropdown" ng-if="userID && currentRole=='admin'">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-th-list"></span>
            {{LANG.HEADER.ALL_TABLES}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" ng-controller="DataListController"  ng-init="init('Tables')">
            <li ng-class="{'active': record.Name==hrefRoute.tableId}" ng-repeat="record in records"><a ng-href="./table/{{record.Name}}"  style="width: 350px;" >{{record.Titles}}
            </a></li>
        </ul>
    </li>
</ul>
