<div class="navbar navbar-inverse navbar-fixed-top"  ng-if="isLoaded">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{LANG.HEADER.SHOW_MENU}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand">{{LANG.HEADER.TITLE}}</a>
        </div>
        <div class="navbar-collapse collapse">

            <ng-include src="'views/menu/header.left.html'"></ng-include>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="bagReportScreens()" title="{{LANG.BUG.SCREENSHOT_HINT}}">
                        <span class="fa fa-camera-retro"></span>
                    </a>
                </li>
                <li>
                    <a href="videochat" title="{{LANG.VIDEO.CHAT_HINT}}">
                        <span class="fa fa-video-camera"></span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="currentRole=='admin'">
                <li><a ng-click="demoSave()" title="Сохранить данные"><span class="fa fa-floppy-o"></span></a></li>
                <li><a ng-click="demoLoad()" title="Загрузить данные"><span class="fa fa-download"></span></a></li>
            </ul>

            <ng-include src="'views/menu/header.right.html'"></ng-include>
        </div>
    </div>
</div>
