﻿<h2>Новый аукцион</h2>
<div class="row">
    <div class="col-md-5">
        <form name="formAdd" novalidate ng-submit="add()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="OpeningTime">Начало аукциона</label>
                <input name="OpeningTime"
                       type="date"
                       class="form-control"
                       placeholder=""
                       ng-model="auction.OpeningTime"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label for="ClosingTime">Окончание аукциона</label>
                <input name="ClosingTime"
                       type="date"
                       class="form-control"
                       placeholder=""
                       ng-model="auction.ClosingTime"
                       ng-required="true"/>
            </div>
            <button type="submit" ng-disabled="formAdd.$invalid" class="btn btn-primary">Объявить аукцион</button>
            <a href="/orders/list" class="btn btn-default">Отмена</a>
        </form>
    </div>
</div>