﻿<h2>Конфигуратор продукта категории: Окна</h2>
<hr />

<div class="row">
    <div class="col-md-5">
        <form name="formAdd" novalidate ng-submit="add()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="Height">Высота</label>
                <input name="Height"
                       type="number"
                       class="form-control"
                       ng-model="productWindow.Height"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label for="Width">Ширина</label>
                <input name="Width"
                       type="number"
                       class="form-control"
                       ng-model="productWindow.Width"
                       ng-required="true" />
            </div>
            <button type="submit" ng-disabled="formAdd.$invalid" class="btn btn-primary">Сохранить конфигурацию</button>
            <a href="#" class="btn btn-default" onclick="javascript:history.go(-1);">Отмена</a>
        </form>
    </div>
</div>