﻿<h2>Конфигуратор продукта категории: Окна</h2>
<br />
<a href="#" class="btn btn-primary" onclick="javascript:history.go(-1);">Вернуться к заказу</a>
<hr />

<div class="row">
    <div class="col-md-5">
        <form name="formEdit" novalidate ng-submit="edit()">
            <div class="bg-danger validationErrors" ng-show="validationErrors">
                <ul>
                    <li ng-repeat="error in validationErrors">{{error}}</li>
                </ul>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <strong>Высота</strong>
                    </td>
                    <td>
                        <input name="Height" type="number" class="form-control" ng-model="productWindow.Height" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Ширина</strong>
                    </td>
                    <td>
                        <input name="Width" type="number" class="form-control" ng-model="productWindow.Width" ng-required="true" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" ng-disabled="formEdit.$invalid" class="btn btn-primary">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>