<div class="alert alert-danger" ng-if="!userID && goAuth()"></div>
<div  ng-if="currentRole=='company'" ng-init="init('Tenders',params.TenderId);">

    <table class="table table-dd">
        <tr ng-repeat="field in fields | fields : 'Id,OrderId,OpeningTime,ClosingTime'">
            <th ng-bind="field.Title"></th>
            <td><ng-include src="getViewTemplate('view',field)"></ng-include></td>
        </tr>
    </table>


    <h4 class="pull-right text-info">{{recordTitle()}}</h4>
    <h4>{{LANG.TENDER.PROPOSAL}}</h4>
    <table  ng-controller="DataListController" class="table" ng-init="init('TenderProposals',{TenderId:params.TenderId})">
        <th>Компания</th>
        <th ng-repeat="field in fields  | fields : 'ProposalTime,Price,Prepay'" ng-bind="field.Title"></th>
        <tr ng-repeat="record in records">
            <td ng-if="record.UserId" ng-controller="DataRecordController" ng-init="init('Users',$parent.record.UserId)">
                <span ng-if="record.CompanyId" ng-controller="DataRecordController" ng-init="init('Companies',$parent.record.CompanyId)" ng-bind="record.Name"></span>
            </td>
            <td ng-repeat="field in fields  | fields : 'ProposalTime,Price,Prepay'">
                <ng-include src="getViewTemplate('view',field)"></ng-include>
            </td>
        </tr>
    </table>
    <table  ng-controller="DataRecordController" class="table" ng-init="init('TenderProposals','New')">
        <tr>
            <td width="60%" class="text-right"></td>
            <td></td>
            <td>
                <h4>{{LANG.TENDER.OFFER_PRICE}}</h4>
                <input class="form-control" ng-model="record.Price" placeholder="Ваша цена...">
                <br>
                <div class="input-group">
                    <input class="form-control" ng-model="record.Prepay" placeholder="Предоплата (%)...">
                    <span class="input-group-addon">%</span>
                </div>
                <br>
                <button class="btn btn-success pull-right" ng-click="save('current')"><span class="fa fa-check"></span> {{LANG.TENDER.PROPOSAL_BTN}}</button>
            </td>
            <td class="hidden"><input type="checkbox" ng-model="record.Accepted" value="false"></td>
            <td></td>
        </tr>
    </table>




    <div class="col-md-12" ng-if="record.OrderId">
        <table class="table" ng-controller="DataListController" ng-init="init('Products',{OrderId:record.OrderId})">
            <tr>
                <th ng-repeat="field in fields | fields : 'Id,Code,Name,ProductCategoryId,Quantity'" ng-bind="field.Title"></th>
            </tr>
            <tr ng-repeat="record in records">
                <td ng-repeat="field in fields | fields : 'Id,Code,Name,ProductCategoryId,Quantity'">
                    <ng-include src="getEditTemplate('view',field)"></ng-include>
                </td>
            </tr>
        </table>

    </div>


</div>
