<div ng-repeat="action in  actions[record.Id]">
    <button style="margin-bottom: 2px;" class="btn btn-sm btn-{{action.BsStyle}}" ng-click="doAction(action,record)"><span class="fa fa-{{action.FaIcon}}"></span> {{action.Title}}</button>
</div>