<h3>{{LANG.CHAT.TITLE}}</h3>

<div class="row">
    <div class="col-xs-4">
        <div ng-if="userID" ng-controller="DataListController" ng-init="init('Users')">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="record in records" role="presentation" ng-class="{'active':params.RecieverId==record.Id}">
                    <a ng-if="record.Id!=userID" href="messages/{{record.Id}}" ng-click2="">
                        {{record.Name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-8">
        <div ng-if="userID && params.RecieverId" ng-controller="DataListController" ng-init="init('Messages',[{SenderId:userID,RecieverId:params.RecieverId},{RecieverId:userID,SenderId:params.RecieverId}]);Self='Chat'">

            <div ng-repeat="record in records">

                <div class="alert alert-success text-right" ng-if="record.SenderId==userID">
                    <span>{{LANG.CHAT.FROM}}</span> <b ng-bind="record.Title"></b><br>
                    {{record.Text}}<br>
                    <a ng-click="replyMessage(record.SenderId,record.Id)">{{LANG.CHAT.RESPONSE}}</a>
                </div>
                <div class="alert alert-info text-left" ng-if="record.RecieverId==userID">
                    <span>{{LANG.CHAT.TOME}}</span> <b ng-bind="record.Title"></b><br>
                    {{record.Text}}<br>
                    <a ng-click="replyMessage(record.SenderId,record.Id)">{{LANG.CHAT.RESPONSE}}</a>
                </div>
            </div>

            <div ng-if="records.length==0" class="alert alert-danger">
                <h4>{{LANG.CHAT.NO_MESSAGES}}</h4>
            </div>


            <div ng-class2="{'hidden':!replyToMessageId && record.Id>0}" ng-controller="DataRecordController" ng-init="init('Messages','New');Self='Messenger'">
                <div class="form-group">
                    <label>{{LANG.CHAT.MESSAGE_TITLE}}</label>
                    <input ng-model="record.Title" class="form-control">
                </div>

                <div class="form-group">
                    <label>{{LANG.CHAT.BODY_TITLE}}</label>
                    <textarea ng-model="record.Text" class="form-control"></textarea>
                </div>
                <div class="form-group text-right">
                    <a class="btn btn-success" ng-click="replyMessage(params.RecieverId,0);save('current');replyMessage(0,0);">{{LANG.CHAT.SEND}}</a>
                </div>
            </div>
        </div>
        <div ng-if="userID && !params.RecieverId">
            <div class="alert alert-danger">
                {{LANG.CHAT.CHOICE_USER}}
            </div>
        </div>
    </div>
</div>

