<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i></a>
    <ul class="dropdown-menu dropdown-messages"  ng-if="userID" ng-controller="DataListController" ng-init="init('Messages',{RecieverId:userID})">
        <li ng-repeat-start="record in records | max : 5">
            <a href="messages/{{record.SenderId}}">
                <div>
                    <strong>{{fieldsChoices.SenderId[record.SenderId]}}</strong>
                    <span class="pull-right text-muted text-nowrap"><em>{{record.CreatedAt}}</em></span>
                </div>
                <div>{{record.Text}}</div>
            </a>
        </li>
        <li ng-repeat-end class="divider"></li>
        <li>
        <a href="messages"><span class="fa fa-envelope-o"></span> {{LANG.HEADER.MESSAGES}}</a>
        </li>
    </ul>
</li>
