﻿<div class="modal-header" ng-class="{'bg-primary':!Notification.callback,'bg-danger':Notification.callback}">
    <a href="#" class="pull-right" ng-click="Notification.close()">
        <span class="fa fa-close"></span>
    </a>
    <h4 class="modal-title">{{Notification.title}}</h4>
</div>
<div class="modal-body">
    <div ng-bind-html="Notification.text|html"></div>
</div>
<div class="modal-footer" ng-if="!Notification.callback">
    <button type="button" class="btn btn-default" ng-click="Notification.close()">{{LANG.BTN.CLOSE}}</button>
</div>

<div class="modal-footer" ng-if="Notification.callback">
    <button type="button" class="btn btn-default" ng-click="Notification.close()">{{LANG.BTN.YES}}</button>
</div>