﻿<div class="modal-header" ng-controller="DataRecordController" ng-init="init('Users',pChat.userId)">
    <h4 class="modal-title"><span class="fa fa-comment"></span> {{LANG.CHAT.POPUP_TITLE}}</h4>
    Ваш собеседник: <b>{{record.Name}}</b>
</div>
<div class="modal-body">
        <div id="correspondence-body" onload="this.scrollTop = 9999;" ng-controller="DataListController" ng-init="init('Messages',[{SenderId:userID,RecieverId:pChat.userId},{RecieverId:userID,SenderId:pChat.userId}])">
            <div ng-repeat="record in records" class="row" style="margin: 0;">
                <div class="pull-right clearfix" ng-if="record.SenderId==userID">
                    <div class="alert alert-info" style="margin-bottom: 0;">
                        <b ng-bind="record.Title"></b><br>
                        {{record.Text}}<br>
                    </div>
                    <i>{{record.CreatedAt}}</i>
                </div>
                <div class="pull-left clearfix" ng-if="record.RecieverId==userID">
                    <div class="alert alert-success"  style="margin-bottom: 0;">
                        <b ng-bind="record.Title"></b><br>
                        {{record.Text}}<br>
                    </div>
                    <i>{{record.CreatedAt}}</i>
                </div>
            </div>
        </div>



  
</div>
<div class="modal-footer">

    <div ng-controller="DataRecordController" ng-init="init('Messages','New');Self='Messenger'">
        <div class="form-group">
            <label>{{LANG.CHAT.MESSAGE_TITLE}}</label>
            <input ng-model="record.Title" class="form-control">
        </div>
        <div class="form-group">
            <label>{{LANG.CHAT.BODY_TITLE}}</label>
            <textarea ng-model="record.Text" class="form-control"></textarea>
        </div>

        <button type="button" class="btn btn-default" ng-click="pChat.cancel()">{{LANG.BTN.CLOSE}}</button>
        <a class="btn btn-success" ng-click="pChat.send(this)">{{LANG.CHAT.SEND}}</a>
    </div>

    
</div>