<div class="modal-header">
    <h4 class="modal-title"><span class="fa fa-bug"></span> {{LANG.BUG.FORM_TITLE}}</h4>
</div>
<div class="modal-body">
    <div class="form-group thumbnail" ng-if="bug.Image">
        <img src="{{bug.Image}}">
    </div>

    <div class="form-group">
        <label class="control-label">{{LANG.BUG.MESSAGE_PROMPT}}</label>
        <textarea class="form-control" ng-model="bug.Text" required></textarea>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="bug.cancel()">{{LANG.BTN.CANCEL}}</button>
    <button type="button" class="btn btn-success" ng-click="bug.send()">{{LANG.BTN.SEND_MESSAGE}}</button>
</div>