﻿@using MarketPlace.Development
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="MarketPlaceApp">
<head>

    <base href="/">
    <meta charset="utf-8" />
    <title>Market Place</title>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- AngularJS-->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <!-- App -->
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Торговая площадка</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a href="/orders/list">Заказы</a></li>*@
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h1>Заголовок</h1>

@*Временно! нужно для тестирования удалить вместе с /AccountController/LoginAs *@
@if (!User.Identity.IsAuthenticated)
{
    <div class="row" style="margin-top: 30px">
        <div class="col-md-4 text-center">
            <div>
                <a class="btn btn-danger btn-default" href="~/Account/LoginAs/@Constants.UserMarketPlaceAdminEmail">
                    @Constants.UserMarketPlaceAdminEmail
                </a>
            </div>
            <div style="margin-top: 20px">
                <a class="btn btn-primary btn-default" href="~/Account/LoginAs/@Constants.UserMarketPlaceManagerEmail">
                    @Constants.UserMarketPlaceManagerEmail
                </a>
            </div>
            <div style="margin-top: 20px">
                <a class="btn btn-success btn-default" href="~/Account/LoginAs/@Constants.UserMarketPlaceUserEmail">
                    @Constants.UserMarketPlaceUserEmail
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            @*<div>
                    <a class="btn btn-danger btn-default" href="~/Account/LoginAs/@Constants.UserNorthwindAdminEmail">
                        @Constants.UserNorthwindAdminEmail
                    </a>
                </div>*@
            <div style="margin-top: 20px">
                <a class="btn btn-primary btn-default" href="~/Account/LoginAs/@Constants.UserNorthwindManagerEmail">
                    @Constants.UserNorthwindManagerEmail
                </a>
            </div>
            <div style="margin-top: 20px">
                <a class="btn btn-success btn-default" href="~/Account/LoginAs/@Constants.UserNorthwindUserEmail">
                    @Constants.UserNorthwindUserEmail
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            @*<div>
                    <a class="btn btn-danger btn-default" href="~/Account/LoginAs/@Constants.UserAdventureWorksAdminEmail">
                        @Constants.UserAdventureWorksAdminEmail
                    </a>
                </div>*@
            <div style="margin-top: 20px">
                <a class="btn btn-primary btn-default" href="~/Account/LoginAs/@Constants.UserAdventureWorksManagerEmail">
                    @Constants.UserAdventureWorksManagerEmail
                </a>
            </div>
            <div style="margin-top: 20px">
                <a class="btn btn-success btn-default" href="~/Account/LoginAs/@Constants.UserAdventureWorksUserEmail">
                    @Constants.UserAdventureWorksUserEmail
                </a>
            </div>
        </div>
    </div>
}
        <hr />
        <footer>
            <p>&copy; @DateTime.Today.Year.ToString() - Торговая площадка</p>
        </footer>
    </div>
</body>
</html>